/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box; }

html {
  font-size: 20px; }

@media screen and (width: 360px) {
  html {
    font-size: 22.5px; } }
@media screen and (width: 400px) {
  html {
    font-size: 25px; } }
@media screen and (width: 480px) {
  html {
    font-size: 30px; } }
@media screen and (width: 540px) {
  html {
    font-size: 33.75px; } }
@media screen and (width: 600px) {
  html {
    font-size: 37.5px; } }
@media screen and (width: 640px) {
  html {
    font-size: 40px; } }
@media screen and (width: 720px) {
  html {
    font-size: 45px; } }
@media screen and (width: 768px) {
  html {
    font-size: 48px; } }
@media screen and (width: 800px) {
  html {
    font-size: 50px; } }
@media screen and (width: 960px) {
  html {
    font-size: 60px; } }
@media screen and (width: 1024px) {
  html {
    font-size: 64px; } }
.header {
  font-family: '\9ED1\4F53';
  position: relative;
  z-index: 2;
  height: 2.2rem;
  background-color: #11cfff; }
  .header img {
    position: absolute;
    top: 0.6rem;
    left: 1.4rem;
    width: 4.8rem;
    height: 1rem; }
  .header .menu {
    position: absolute;
    top: 0.6rem;
    right: 1.5rem;
    width: 1.05rem;
    height: 0.825rem;
    background: url("../images/menu.jpg") no-repeat 0 0;
    background-size: cover; }
  .header .menu-box {
    display: none;
    position: absolute;
    top: 2.75rem;
    right: 1.25rem;
    padding-top: 0.85rem;
    width: 4.25rem;
    height: 6.25rem;
    background-color: #fff;
    border-radius: 1.25rem;
    color: #218ed2;
    -webkit-box-shadow: 2px 2px 2px;
    -moz-box-shadow: 2px 2px 2px;
    box-shadow: 2px 2px 2px; }
    .header .menu-box li {
      display: block;
      margin: 0 auto;
      width: 70%;
      height: 1.2rem;
      line-height: 1.2rem;
      font-size: 0.6rem;
      font-weight: bold;
      border-bottom: 1px solid #218ed2; }
    .header .menu-box li:last-child {
      border-bottom: none 0; }

.f-cb:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

.f-cb {
  zoom: 1; }

body.signin {
  background-color: #afe9ff; }

.m-signin {
  font-family: '\9ED1\4F53';
  background: url("../images/signin-bg.jpg") no-repeat center top;
  background-size: 100%; }
  .m-signin .main-wrap {
    padding: 4.8rem 1.4rem 0.4rem; }
  .m-signin .main {
    margin-bottom: 0.4rem;
    height: 10.8rem;
    color: #11cfff; }
  .m-signin .profile {
    margin: 0 auto 0 8rem;
    padding-top: 0.7rem;
    width: 4.8rem;
    height: 7.6rem; }
    .m-signin .profile .avatar {
      margin: 0 auto;
      padding: 0.3rem 0 0 0.3rem;
      width: 4.0rem;
      height: 4.3rem;
      background: url("../images/avatar-bg.png") no-repeat 0 0;
      background-size: 100%; }
      .m-signin .profile .avatar img {
        display: block;
        width: 90%;
        border-radius: 50%; }
    .m-signin .profile .user {
      font-size: 0.8rem;
      font-weight: bold;
      text-align: center;
      width: 4.8rem;
      word-break: break-all; }
      .m-signin .profile .user span {
        display: inline-block;
        margin-bottom: -0.1rem;
        width: 0.6rem;
        height: 0.625rem; }
        .m-signin .profile .user span.male {
          background: url("../images/male.jpg") no-repeat 0 0;
          background-size: 100%; }
        .m-signin .profile .user span.female {
          background: url("../images/female.jpg") no-repeat 0 0;
          background-size: 100%; }
    .m-signin .profile .position {
      width: 4rem;
      font-size: 0.6rem;
      line-height: 0.8rem;
      text-align: center; }
      .m-signin .profile .position span {
        display: inline-block;
        margin-bottom: -0.1rem;
        width: 0.325rem;
        height: 0.5rem;
        background: url("../images/position.jpg") no-repeat 0 0;
        background-size: 100%; }
  .m-signin .member {
    float: left;
    width: 8rem; }
    .m-signin .member h1 {
      margin-bottom: 0.4rem;
      height: 2.3rem;
      line-height: 2.3rem;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: center; }
      .m-signin .member h1 span {
        font-size: 0.7rem; }
    .m-signin .member .score {
      margin-bottom: 0.2rem;
      height: 2.3rem;
      line-height: 2.3rem;
      font-size: 1.8rem;
      text-align: center; }
      .m-signin .member .score span {
        font-size: 0.6rem; }
    .m-signin .member .btn {
      display: block;
      margin-left: 1.6rem;
      width: 5.2rem;
      height: 1.2rem; }
    .m-signin .member .rule {
      display: block;
      height: 1rem;
      line-height: 1rem;
      font-size: 0.4rem;
      text-align: center;
      color: #48b0da; }
  .m-signin .btn3 {
    height: 3.2rem;
    color: #fff; }
    .m-signin .btn3 li {
      float: left;
      padding: 0.25rem 0.4rem 0;
      width: 4.4rem; }
      .m-signin .btn3 li p {
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        font-size: 0.8rem; }
        .m-signin .btn3 li p span {
          font-size: 0.5rem; }
      .m-signin .btn3 li a {
        display: block;
        width: 3.6rem;
        height: 1.1rem; }
      .m-signin .btn3 li i {
        display: block;
        font-style: normal;
        padding-top: 0.15rem;
        text-align: center;
        font-size: 0.3rem; }
  .m-signin .friend {
    height: 6rem;
    color: #1abef1; }
    .m-signin .friend .invitation {
      float: left;
      width: 9rem;
      padding: 2.3rem 0 0 1.2rem;
      font-size: 0.45rem; }
    .m-signin .friend .friends {
      margin-left: 9rem;
      margin-bottom: 0.9rem;
      padding-top: 1.6rem;
      font-size: 0.45rem; }
      .m-signin .friend .friends span {
        font-size: 0.6rem;
        color: #48b0da;
        font-weight: bold; }
    .m-signin .friend .topcharts {
      display: block;
      margin-left: 2rem;
      width: 9.2rem;
      height: 1.6rem; }

body.record {
  background-color: #01652d; }

.m-record {
  font-family: '\9ED1\4F53';
  background: #01652d url("../images/record-bg.jpg") no-repeat center top;
  background-size: 100%;
  overflow: hidden;
  padding-bottom: 2.5rem; }
  .m-record .year {
    margin-top: 7.6rem;
    display: block;
    text-align: center;
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1.5rem;
    color: #ffffff; }
  .m-record .days {
    margin-top: 0.4rem;
    height: 6rem;
    padding-right: 2.5rem;
    padding-top: 1rem; }
    .m-record .days .continuous {
      margin: 0;
      text-align: right;
      font-size: 0.9rem;
      color: #fff; }
      .m-record .days .continuous span {
        font-size: 2.25rem;
        padding: 0 0.9rem; }
    .m-record .days .total {
      text-align: right;
      font-size: 0.9rem;
      color: #fff; }
      .m-record .days .total span {
        font-size: 1.5rem;
        padding: 0 1.2rem; }
  .m-record .btn {
    margin: 3.6rem auto 1rem;
    width: 10rem;
    height: 2.2rem; }
    .m-record .btn a {
      display: block;
      width: 100%;
      height: 100%; }

/*# sourceMappingURL=wechat.css.map */
