.m-jifen{background: url("../images/update-jifen1.png") no-repeat; background-size: 100%;  width: 100%; height: 15.5rem;position: relative;
  span{color: #fff;font-size: 2rem; position: absolute;left:3.6rem;top:3.45rem; }
  img{position: absolute;left:9.4rem;top:1.9rem; width:3.85rem;height: 4.175rem; }
  h3{font-size: 0.8rem;color: #fff;position: absolute;left: 9.8rem;top:6.2rem;}
  p{font-size: 0.6rem;color:#31b7e4;position: absolute; left: 6.4rem;
    &.ji1{ top:8.25rem;}
    &.ji2{ top:9.8rem;}
    &.ji3{ top:11.45rem;}
    &.ji4{top:13rem;}
  }
}



.m-rule{width: 100%;
  img{width: 100%}
}