@charset "utf-8";
<<<<<<< HEAD
body.record {
  background-color: #01652d;
}

.m-record {
  font-family: '\9ED1\4F53';
  background: #01652d url("../images/record-bg.jpg") no-repeat center top;
  background-size: 100%;
  overflow: hidden;
  padding-bottom:2.5rem;
  .year {
    margin-top: 7.6rem;
    display: block;
    text-align: center;
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1.5rem;
    color: #ffffff;
  }
  .days {
    margin-top: 0.4rem;
    height: 6rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    .continuous {
      margin: 0;
      text-align: right;
      font-size: 0.9rem;
      color: #fff;
      span {
        font-size: 2.25rem;
        padding: 0 0.9rem;
      }
    }
    .total {
      text-align: right;
      font-size: 0.9rem;
      color: #fff;
      span {
        font-size: 1.5rem;
        padding: 0 1.2rem;
      }
    }
  }
  .btn {
    margin: 3.6rem auto 1rem;
    width: 10rem;
    height: 2.2rem;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
=======
body.record {background-color: #01652d;}
.m-record {
  font-family: '\9ED1\4F53';
  background: url("../images/record-bg.jpg") no-repeat center top;
  background-size: 100%;
  padding: 8.3rem 0 3.1rem 0;
  .date {
    margin-bottom: 4.8rem;
    padding-left: 13.5rem;
    height: 7.2rem;
    font-size: 3.5rem;
    color: #3bd7ff;
    .year {
      height: 4.2rem;
      line-height: 4.2rem;
      text-indent: 3.8rem;
    }
    .month,.day {
      float: left;
      height: 3rem;
      line-height: 3rem;
    }
    .month {
      padding: 0 4rem 0 1rem;
    }
  }
  .days {
    margin-bottom: 8.8rem;
    padding-left: 18.5rem;
    height: 9.2rem;
    color: #fff;
    text-align: center;
    .continuous {
      width: 5.8rem;
      height: 4.3rem;
      line-height: 4.3rem;
      font-size: 4.5rem;
    }
    .total {
      width: 5.8rem;
      height: 4.9rem;
      line-height: 4.9rem;
      font-size: 3rem;
    }
  }
  .btn {
    margin: 0 auto;
    width: 20.3rem;
    height: 4.4rem;
>>>>>>> tempwechat
  }
}