@charset "utf-8";
body.record {
  background-color: #01652d;
}
.m-record {
  font-family: '\9ED1\4F53';
  background: #01652d url("../images/record-bg.jpg") no-repeat center top;
  background-size: 100%;
  overflow: hidden;
  padding-bottom:2.5rem;
  .year {
    margin-top: 7.6rem;
    display: block;
    text-align: center;
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1.5rem;
    color: #ffffff;
  }
  .days {
    margin-top: 0.4rem;
    height: 6rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    .continuous {
      margin: 0;
      text-align: right;
      font-size: 0.9rem;
      color: #fff;
      span {
        font-size: 2.25rem;
        padding: 0 0.9rem;
      }
    }
    .total {
      text-align: right;
      font-size: 0.9rem;
      color: #fff;
      span {
        font-size: 1.5rem;
        padding: 0 1.2rem;
      }
    }
  }
  .btn {
    margin: 3.6rem auto 1rem;
    width: 10rem;
    height: 2.2rem;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}