@charset "utf-8";
body.record {background-color: #01652d;}
.m-record {
  font-family: '\9ED1\4F53';
  background: url("../images/record-bg.jpg") no-repeat center top;
  background-size: 100%;
  padding: 8.3rem 0 3.1rem 0;
  .date {
    margin-bottom: 4.8rem;
    padding-left: 13.5rem;
    height: 7.2rem;
    font-size: 3.5rem;
    color: #3bd7ff;
    .year {
      height: 4.2rem;
      line-height: 4.2rem;
      text-indent: 3.8rem;
    }
    .month,.day {
      float: left;
      height: 3rem;
      line-height: 3rem;
    }
    .month {
      padding: 0 4rem 0 1rem;
    }
  }
  .days {
    margin-bottom: 8.8rem;
    padding-left: 18.5rem;
    height: 9.2rem;
    color: #fff;
    text-align: center;
    .continuous {
      width: 5.8rem;
      height: 4.3rem;
      line-height: 4.3rem;
      font-size: 4.5rem;
    }
    .total {
      width: 5.8rem;
      height: 4.9rem;
      line-height: 4.9rem;
      font-size: 3rem;
    }
  }
  .btn {
    margin: 0 auto;
    width: 20.3rem;
    height: 4.4rem;
  }
}