@charset "utf-8";
body.signin {background-color: #afe9ff;}
.m-signin {
  font-family: '\9ED1\4F53';
  background: url("../images/signin-bg.jpg") no-repeat center top;
  background-size: 100%;
  .main-wrap {
    padding: 5.25rem 1.25rem 1.25rem;
  }
  .main {
    margin-bottom: 1.15rem;
    height: 8.075rem;
    padding: 1.03rem 0 0 1.85rem;
    color: #11cfff;
  }
  .profile {
    float: left;
    width: 4.3rem;
    .avatar {
      padding: 0.3rem 0 0 0.3rem;
      width: 4.3rem;
      height: 4.8rem;
      background: url("../images/avatar-bg.png") no-repeat 0 0;
      background-size: 100%;
      img {
        display: block;
        width: 90%;
        border-radius: 50%;
      }
    }
    .user {
      font-size: 0.55rem;
      line-height: 0.75rem;
      font-weight: bold;
      text-align: center;
      span {
        display: inline-block;
        margin-bottom: -0.1rem;
        width: 0.475rem;
        height: 0.5rem;
        &.male {
          background: url("../images/male.jpg") no-repeat 0 0;
          background-size: 100%;
        }
        &.female {
          background: url("../images/female.jpg") no-repeat 0 0;
          background-size: 100%;
        }
      }
    }
    .position {
      font-size: 0.5rem;
      line-height: 0.75rem;
      text-align: center;
      span {
        display: inline-block;
        margin-bottom: -0.1rem;
        width: 0.325rem;
        height: 0.5rem;
        background: url("../images/position.jpg") no-repeat 0 0;
        background-size: 100%;
      }
    }
  }
  .member {
    margin-left: 4.9rem;
    h1 {
      height: 1.65rem;
      line-height: 1.65rem;
      font-size: 0.8rem;
      font-weight: bold;
    }
    h2 {
      margin-bottom: 1rem;
      height: 0.9rem;
      line-height: 0.9rem;
      font-size: 0.7rem;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    .score {
      height: 1.75rem;
      line-height: 1.75rem;
      font-size: 1.5rem;
      span {
        font-size: 0.6rem;
      }
    }
  }
  .btns {
    height: 7.25rem;
    a {
      display: block;
      margin-bottom: 1.375rem;
      height: 2.25rem;
      text-indent: -999rem;
    }
  }
}