@charset "utf-8";
body.signin {background-color: #afe9ff;}
.m-signin {
  font-family: '\9ED1\4F53';
  background: url("../images/signin-bg.jpg") no-repeat center top;
  background-size: 100%;
  .main-wrap {
    padding: 10.5rem 2.5rem 2.5rem;
  }
  .main {
    margin-bottom: 2.3rem;
    height: 16.15rem;
    padding: 2.06rem 0 0 3.7rem;
    color: #11cfff;
  }
  .profile {
    float: left;
    width: 8.6rem;
    .avatar {
      padding: 0.6rem 0 0 0.6rem;
      width: 8.6rem;
      height: 9.6rem;
      background: url("../images/avatar-bg.png") no-repeat 0 0;
      background-size: 100%;
      img {
        display: block;
        width: 90%;
        border-radius: 50%;
      }
    }
    .user {
      font-size: 1.1rem;
      line-height: 1.5rem;
      font-weight: bold;
      text-align: center;
      span {
        display: inline-block;
        margin-bottom: -0.2rem;
        width: 0.95rem;
        height: 1rem;
        &.male {
          background: url("../images/male.jpg") no-repeat 0 0;
          background-size: 100%;
        }
        &.female {
          background: url("../images/female.jpg") no-repeat 0 0;
          background-size: 100%;
        }
      }
    }
    .position {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      span {
        display: inline-block;
        margin-bottom: -0.2rem;
        width: 0.65rem;
        height: 1rem;
        background: url("../images/position.jpg") no-repeat 0 0;
        background-size: 100%;
      }
    }
  }
  .member {
    margin-left: 9.8rem;
    h1 {
      height: 3.3rem;
      line-height: 3.3rem;
      font-size: 1.6rem;
      font-weight: bold;
    }
    h2 {
      margin-bottom: 2rem;
      height: 1.8rem;
      line-height: 1.8rem;
      font-size: 1.4rem;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    .score {
      height: 3.5rem;
      line-height: 3.5rem;
      font-size: 3rem;
      span {
        font-size: 1.2rem;
      }
    }
  }
  .btns {
    height: 14.5rem;
    a {
      display: block;
      margin-bottom: 2.75rem;
      height: 4.5rem;
      text-indent: -999rem;
    }
  }
}