@charset "utf-8";
body.signin {background-color: #afe9ff;}
.m-signin {
  font-family: '\9ED1\4F53';
  background: url("../images/signin-bg.jpg") no-repeat center top;
  background-size: 100%;
  .main-wrap {
    padding: 4.8rem 1.4rem 0.4rem;
  }
  .main {
    margin-bottom: 0.4rem;
    height: 10.8rem;
    color: #11cfff;
  }
  .profile {
    margin: 0 auto 0 8rem;
    padding-top: 0.7rem;
    width: 4.8rem;
    height: 7.6rem;
    .avatar {
      margin: 0 auto;
      padding: 0.3rem 0 0 0.3rem;
      width: 4.0rem;
      height: 4.3rem;
      background: url("../images/avatar-bg.png") no-repeat 0 0;
      background-size: 100%;
      img {
        display: block;
        width: 90%;
        border-radius: 50%;
      }
    }
    .user {
      font-size: 0.8rem;
      font-weight: bold;
      text-align: center;
      width: 4.8rem;
      word-break: break-all;
      span {
        display: inline-block;
        margin-bottom: -0.1rem;
        width: 0.6rem;
        height: 0.625rem;
        &.male {
          background: url("../images/male.jpg") no-repeat 0 0;
          background-size: 100%;
        }
        &.female {
          background: url("../images/female.jpg") no-repeat 0 0;
          background-size: 100%;
        }
      }
    }
    .position {
      width: 4rem;
      font-size: 0.6rem;
      line-height: 0.8rem;
      text-align: center;
      span {
        display: inline-block;
        margin-bottom: -0.1rem;
        width: 0.325rem;
        height: 0.5rem;
        background: url("../images/position.jpg") no-repeat 0 0;
        background-size: 100%;
      }
    }
  }
  .member {
    float: left;
    width: 8rem;
    h1 {
      margin-bottom: 0.4rem;
      height: 2.3rem;
      line-height: 2.3rem;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: center;
      span {
        font-size: 0.7rem;
      }
    }
    .score {
      margin-bottom: 0.2rem;
      height: 2.3rem;
      line-height: 2.3rem;
      font-size: 1.8rem;
      text-align: center;
      span {
        font-size: 0.6rem;
      }
    }
    .btn {
      display: block;
      margin-left: 1.6rem;
      width: 5.2rem;
      height: 1.2rem;
    }
    .rule {
      display: block;
      height: 1rem;
      line-height: 1rem;
      font-size: 0.4rem;
      text-align: center;
      color: #48b0da;
    }
  }
  .btn3 {
    height: 3.2rem;
    color: #fff;
    li {
      float: left;
      padding: 0.25rem 0.4rem 0;
      width: 4.4rem;
      p {
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        font-size: 0.8rem;
        span {
          font-size: 0.5rem;
        }
      }
      a {
        display: block;
        width: 3.6rem;
        height: 1.1rem;
      }
      i {
        display: block;
        font-style: normal;
        padding-top: 0.15rem;
        text-align: center;
        font-size: 0.3rem;
      }
    }
  }
  .friend {
    height: 6rem;
    color: #1abef1;
    .invitation {
      float: left;
      width: 9rem;
      padding: 2.3rem 0 0 1.2rem;
      font-size: 0.45rem;
    }
    .friends {
      margin-left: 9rem;
      margin-bottom: 0.9rem;
      padding-top: 1.6rem;
      font-size: 0.45rem;
      span {
        font-size: 0.6rem;
        color: #48b0da;
        font-weight: bold;
      }
    }
    .topcharts {
      display: block;
      margin-left: 2rem;
      width: 9.2rem;
      height: 1.6rem;
    }
  }
}