.u-toptitle {
  padding-bottom: 10px;
  font-family: "宋体";
@include clearfix();
  &:after {
    clear: both;
  }
  position: relative;
  border-bottom: 1px solid #d6cfc7;
  p {display:inline-block;
    font-size: 18px;
    color: #210700;


  }
  a {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 12px;
    color: #83654c;
    &:hover{color:#210700;}
  }
}