@charset "utf-8";
<<<<<<< HEAD
$rem:20px;
=======
$rem:10px;
>>>>>>> tempwechat
html {font-size: $rem;}
@media screen and (width: 360px) {
  html {font-size: $rem * 1.125;}
}
@media screen and (width: 400px) {
  html {font-size: $rem * 1.25;}
}
@media screen and (width: 480px) {
  html {font-size: $rem * 1.5;}
}
@media screen and (width: 540px) {
  html {font-size: $rem * 1.6875;}
}
@media screen and (width: 600px) {
  html {font-size: $rem * 1.875;}
}
@media screen and (width: 640px) {
  html {font-size: $rem * 2;}
}
@media screen and (width: 720px) {
  html {font-size: $rem * 2.25;}
}
@media screen and (width: 768px) {
  html {font-size: $rem * 2.4;}
}
@media screen and (width: 800px) {
  html {font-size: $rem * 2.5;}
}
@media screen and (width: 960px) {
  html {font-size: $rem * 3;}
}
@media screen and (width: 1024px) {
  html {font-size: $rem * 3.2;}
}

.header {
  font-family: '\9ED1\4F53';
  position: relative;
  z-index: 2;
<<<<<<< HEAD
  height: 2.2rem;
  background-color: #11cfff;
  img {
    position: absolute;
    top: 0.6rem;
    left: 1.4rem;
    width: 4.8rem;
    height: 1rem;
  }
  .menu {
    position: absolute;
    top: 0.6rem;
    right: 1.5rem;
    width: 1.05rem;
    height: 0.825rem;
=======
  height: 4.1rem;
  background-color: #11cfff;
  img {
    position: absolute;
    top: 1rem;
    left: 2.1rem;
    width: 6.1rem;
    height: 2.2rem;
  }
  .menu {
    position: absolute;
    top: 1.2rem;
    right: 3rem;
    width: 2.1rem;
    height: 1.65rem;
>>>>>>> tempwechat
    background: url("../images/menu.jpg") no-repeat 0 0;
    background-size: cover;
  }
  .menu-box {
    display: none;
    position: absolute;
<<<<<<< HEAD
    top: 2.75rem;
    right: 1.25rem;
    padding-top: 0.85rem;
    width: 4.25rem;
    height: 6.25rem;
    background-color: #fff;
    border-radius: 1.25rem;
=======
    top: 5.5rem;
    right: 2.5rem;
    padding-top: 1.7rem;
    width: 8.5rem;
    height: 12.5rem;
    background-color: #fff;
    border-radius: 2.5rem;
>>>>>>> tempwechat
    color: #218ed2;
    -webkit-box-shadow: 2px 2px 2px;
    -moz-box-shadow: 2px 2px 2px;
    box-shadow: 2px 2px 2px;
    li {
      display: block;
      margin: 0 auto;
      width: 70%;
<<<<<<< HEAD
      height: 1.2rem;
      line-height: 1.2rem;
      font-size: 0.6rem;
=======
      height: 2.4rem;
      line-height: 2.4rem;
      font-size: 1.2rem;
>>>>>>> tempwechat
      font-weight: bold;
      border-bottom: 1px solid #218ed2;
    }
    li:last-child {
      border-bottom: none 0;
    }
  }
}

.f-cb:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}

.f-cb {
  zoom: 1;
}