@charset "utf-8";

.m-pg-builddetail{
  padding-top: 30px;
  .ti{
    font-weight: normal;
    font-size: 18px;
    color: #83654c;
  }
  %timeAndAuthor{
    margin-top: 16px;
    font-size: 14px;
    display: inline-block;
    color: #83654c;
  }
  .time{
    margin-right: 26px;
  }
  .author{
    @extend %timeAndAuthor;
  }
  .article{
    padding-top: 22px;
    img{
      @media screen and (max-width: 992px){
        width: 100%;
      }
      margin: 0 auto;
      display: block;
      max-width: 100%;
      width: auto;
//      max-height: 368px;
      height: auto;
    }
    p{
      margin-top: 20px;
      line-height: 1.5;
      color: #83654c;
      font-size: 14px;
    }
  }
}