@charset "utf-8";
.m-main9-cy {
  width: 862px;
  float: right;
  .main {
    margin-top: 32px;
    @include clearfix();
    .map {
      float: left;
      width: 490px;
      height: 360px;
    }
    .firmdet {
      margin-left: 30px;
      float: right;
      width: 340px;
      h3 {
        font-size: 18px;
        font-family: "宋体";
        color: #6c513a;
        font-weight: normal;
      }
      .add, .num {
        margin-top: 14px;
        font-size: 14px;
        font-family: "宋体";
        color: #6c513a;
      }
      .tel,.email, .fax, .web,.you{
        margin-top: 16px;
        display: inline-block;
        width: 118px;
        padding-left: 30px;
        height: 22px;
        line-height: 22px;
        font-size: 14px;
        color: #6c513a;
        font-family: "宋体";
        background: url("../images/contactus-pic1.png") no-repeat;
      }
      .email:hover,.web:hover{color:#333;}
      .tel {
        background-position: 0 -24px;
      }
      .email {
        margin-left: 40px;
        background-position: 0 -48px;
      }
      .fax {
        background-position: 0 0px;
      }
      .web {
        margin-left: 40px;
        background-position: 0 -72px;
      }
      .you{
        background-position: 0 -96px;
      }

      .weixin {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #d6c2a0;
        height: 100%;
        width: 100%;
        display: table;
       .sina,.ten,.yuku{ position: relative;
         .name ,{position: absolute; margin-right:10px;font-size:14px; font-family: "宋体"; color:#6c513a;}
         .erweima {
           display: inline-block;
           height: 76px;
           width: 76px;
           border: 1px solid #d6c2a0;
           padding: 6px;
         }

       }
        .sina{float:left; .name{top:0; left:0;}
          .erweima{margin-left: 42px;}
         }
        .ten{ float:right;.name{top:0; left:-82px;} }
        .yuku{margin-bottom:30px; .name{position: static; }
          .wang a{font-size:18px; font-family: "宋体"; color:#6c513a;}
        }


      }
    }
  }

}