.m-main2-cy {
  width: 862px;
  float: right;
@include clearfix();
  .left {
    float: left;
    width: 422px;
    .con {
      p {
        margin-top: 26px;
        font-size: 14px;
        font-family: "宋体";
        color: #210700;
        line-height: 1.5;
      }
    }
  }
 .right{float: right;
     .title{
       height: 58px;
       line-height: 58px;
       border-bottom: 1px solid #b7b2a8;
     }
   .con {
     padding-top: 30px;
     border-top: 1px solid #fff;
     p{margin-top: 20px;
       font-size: 14px;
       color:#210700;}
   }
 }
}