@charset "utf-8";
.m-main-cy {
  width: 862px;
  float: right;
  .title {
    height: 58px;
    line-height: 58px;
    font-size: 26px;
    color: #210700;
    font-family: "宋体";
    font-weight: normal;
    border-bottom: 1px solid #b7b2a8;
  }
  .imglb {
    margin-bottom: 40px;
    border-top: 1px solid #fff;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    .imgList{margin-top: 30px;}
    ol, li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
    }
    li {
      left: -100%;
      opacity: 0;
      -webkit-transition: 0.5s ease-out;
      -moz-transition: 0.5s ease-out;
      -ms-transition: 0.5s ease-out;
      transition: 0.5s ease-out;
      -webkit-transition-property: opacity, left, top;
      -moz-transition-property: opacity, left, top;
      -ms-transition-property: opacity, left, top;
      transition-property: opacity, left, top;
    }
    li.z-crt {
      z-index: 21;
      opacity: 1;
      left: 0;
    }
    li.z-crt ~ li {
      left: 100%;
    }
    .u-pointer {
      position: absolute;
      bottom: 35px;
      right: 14px;
      z-index: 50;
      text-align: center;
      line-height: 0;
    }
    .u-pointer i {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 0 0 2px;
      cursor: pointer;
      background: #8d735d;
      border: 1px solid transparent;
    }
    .u-pointer i:first-child {
      margin-left: 0;
    }
    .u-pointer i:hover {
      border: 1px solid #fff;
    }
    .u-pointer i.z-crt {
      border: 1px solid #fff;
    }
  }
  .list {
    width: 402px;

    .showpic {
      margin-top: 20px;
      &:after,&:before{display: table;
      content: "";}
      &:after{clear: both;}
    }
    .showpic li {
      float: left;
      margin-right: 20px;
      p{line-height: 30px;
      height: 30px;
      text-align: center;
      font-size:14px;
      color:#210700;
      font-family: "宋体";}
    }
    .showpic .last {
      margin-right: 0;
    }
    .changemargin{margin-top: 40px;}
    .changemargin .m-list3{margin-top: 20px;}
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }

}