@charset "utf-8";
.pg-yearbook{overflow-y: scroll; overflow-x:hidden; width:100%;}

.m-pg-yearbook {
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  ul{
    border-top: 1px solid #FFFFFF;
    @media screen and (max-width: 992px) {
      border-width: 0;
    }
    width: 100%;
    height: auto;
    %left{
      position: relative;
      float: left;
      height: auto;
      width: 16.6%;
      font-style: italic;
      word-break: break-all;
      .u-dit{
        z-index:2;
        position: absolute;
        background-color: #b7b2a8;
      }
    }
    %right{
      position: relative;
      margin-left:20%;
      height: auto;
      word-break: break-all;
      .u-border{
        z-index: 1;
        position: absolute;
        left: -4.35345%;
        top: 0;
        height: 100%;
        width: 100%;
        border-left: 1px solid #FFFFFF;
        @media screen and (max-width: 992px){
          border-color:rgba(0,0,0,0);
          border-color: transparent;
        }
        &:before{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: #b7b2a8;
        }
      }
    }
  }
  li{
    height: auto;
    width: 100%;
  }
  .m-show-1{
    line-height: 56px;
    height: auto;
    width: 100%;
    @include clearfix();
    cursor: pointer;
    .left{
      @extend %left;
      font-size: 22px;
      @media screen and (max-width: 992px){
        padding-top: 8px;
        font-size: 18px;
      }
      @media screen and (max-width: 640px){
        line-height: 1.5;
        font-size: 16px;
      }
      .u-dit{
        right: -5px;
        top:50%;
        margin-top: -5px;
        width: 10px;
        height: 10px;
      }
      a{
        color: #210700;
        &:hover{
          color: #714738;
        }
      }
    }
    .right{
      @extend %right;
      font-size: 20px;
      @media screen and (max-width: 992px){
        padding-top: 8px;
        font-size: 14px;
      }
      @media screen and (max-width: 640px){
        padding-bottom:8px;
        line-height: 1.5;
        font-size: 14px;
      }
    }
    p{
      color: #210700;
    }
  }
  .m-detail{
    display: none;
    height: auto;
    width: 100%;
    @include clearfix();
    .left{
      text-align: right;
      @extend %left;
      font-size: 16px;
      @media screen and (max-width: 992px){
        font-size: 16px;
      }
      @media screen and (max-width: 640px){
        line-height: 1.5;
        font-size: 14px;
      }
      .u-dit{
        right: -4px;
        top:50%;
        margin-top: -3px;
        width: 8px;
        height: 7px;
      }
      .num{
        padding-right: 20px;
        color: #210700;
        @media screen and (max-width: 360px){
          margin-left: -0.5em;
        }
      }
    }
    .right{
      padding-bottom: 20px;
      @extend %right;
    }
    .cnt{
      padding: 20px 15px;
      background-color: #f9f9f9;
      width: 65.45%;
      @media screen and (max-width: 992px){
        width: 100%;
      }
    }
    img{
      max-width: 100%;
      width: 100%;
      height: auto;
    }
    p{
      margin-top: 20px;
      line-height: 1.5;
      font-size: 12px;
      color: #210700;
      cursor: text;
    }
  }
}