@charset "utf-8";
.m-main-cy {
  width: 862px;
  float: right;
  padding-bottom:100px;
  .imglb {
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    height: 300px;
    overflow:hidden;
    .items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;
      li{ float:left; background:none; list-style:none; padding:0px; margin:0px;
         a{ float:left; line-height:normal ;
         img{display:block; border:none;}
         }
       }
    }
 .tips{ position:absolute; bottom:0px; width:100%; height:20px;overflow:hidden;
    .nums{ position:absolute; right:10px; top:0px; height:100%;
      a{ display:inline-block; float:left; width:8px; height:8px;text-indent:-99999px; margin:0px 4px 0px 0px; background: #8d735d;

      }
      .active{
        border:1px solid #fff;}
    }
  }
  }
  .emp{
    &:after,&:before{display: table; content: "";}
    &:after{clear: both;}
    .list {
    width: 400px;
    .showpic {
      margin-top: 20px;
      @include clearfix();
      margin-left: -20px;
    }
    .showpic li {
      float: left;
      margin-left: 20px;
      p a{ display: block;
        line-height: 30px;
        height: 30px;
        text-align: center;
        font-size:14px;
        color:#210700;
        font-family: "宋体";
        &:hover{color:#714e38;}}
    }

  }
    .left {
      float: left;
    }
    .right {
      float: right;
    }}

.rBottom{
  &:after,&:before{display: table; content: "";}
  &:after{clear: both;}
  .changemargin{margin-top: 40px;}
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .changemargin .m-list3{margin-top: 20px;}}
}