@charset "utf-8";
.m-mainlast-cy {
  width: 862px;
  padding-bottom:50px;
  float: right;
  @include clearfix();
  .imglb {
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    height: 300px;
    overflow:hidden;
    .items {
      position: absolute;
      float: left;
      background: none;
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        float: left;
        background: none;
        list-style: none;
        padding: 0px;
        margin: 0px;
        a {
          float: left;
          line-height: normal;
          img {
            display: block;
            border: none;
          }
        }
      }
    }

    .tips {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 20px;
      overflow: hidden;
      .nums {
        position: absolute;
        right: 10px;
        top: 0px;
        height: 100%;
        a {
          display: inline-block;
          float: left;
          width: 8px;
          height: 8px;
          text-indent: -99999px;
          margin: 0px 4px 0px 0px;
          background: #8d735d;

        }
        .active {
          border: 1px solid #fff;
        }
      }
    }
  }
  .list {
    margin-left: -60px;
    @include clearfix();
    .piclist {
      float: left;
      margin-left: 60px;
      width: 400px;
      .m-list3 {
        margin-top: 20px;
        margin-bottom: 30px;
        img{width: 400px;
         height: 200px;}
      }
    }

  }
  .list2 {
    & > .u-toptitle {
      margin-left: 60px;
    }
    .textlist {
      margin-left: 30px;
      width: 430px;
      float: left;
      .line {
        @include clearfix();
        margin-top: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid #d6cfc7;
        a {
          display: block;
          float: left;
          color: #210700;
          font-szie: 16px;
          font-family: "宋体";
          &:hover {
            color: #83654c;
          }
        }
        span{display: block; float: right;font-size:12px; color:#83654c; font-family: "宋体"}
      }

    }

  }
}