body.chapter21 {
  height: 100%;
  background-color: #000;
}
.m-chapter21{
  height: 100%;

  .btnreturn{
    position: absolute;
    top:10%;
    right: 3%;
    width:30px;
    height:30px;
    z-index: 300;
    cursor:pointer;
    background:url(../images/article-btn1.png) no-repeat;
    &:hover{background:url(../images/article-btn.png) no-repeat;}
  }
  .prebtn,.nextbtn{
    color:#ffe3cd;
    position: absolute;
    top:50%;
    z-index: 300;
    text-align:center;
    cursor:pointer;
    i{display:block; font-size:60px; vertical-align:middle;}
    &:hover{color:#714e38;}
  }

  .prebtn{
    left:5%;
  }
  .nextbtn{
    right:5%;
  }

  .g-sld {
    height: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
  }

  div.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000000
//    url("../images/21chapter/1/1-1.jpg") no-repeat center
  ;
  }

  .btn-return {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50%;
    width: 100px;
    height: 36px;
    z-index: 0;
    background: url("../images/bk-icon.png") -40px 0px;
  }

  .m-sld {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 100;
    .inner {
      width: 5880px;
      position: absolute;
      left: 0;
      overflow: hidden;
      height: 100%;
      z-index: 1;
    }
    @media (max-width: 788px) {
      .inner {
        width: 5880px;
        position: absolute;left: 0;

        overflow: hidden;
        height: 100%;
        z-index: 1;
      }
    }

    .list-item {
      float: left;
      position: relative;
      width: 280px;
      height: 100%;
      top: 0;
      left: 0;
      text-align: center;
      cursor: pointer;

      img {
        height: 100%;
      }

      img {
      }
      &.hover-before {
        left: -3em;
      }
      &.hover-after {
        left: 3em;
      }

      &.hover {
        width: 36em;
        left: -3em;
      }
      .shade {
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: .8;
        @media (max-width: 1025px) {
          opacity: .4;
        }

      }

    }

    #step-1 {
      background: #000000 url("../images/21chapter/01.jpg") no-repeat center;
    }
    #step-2 {
      background: #000000 url("../images/21chapter/02.jpg") no-repeat center;
    }
    #step-3 {
      background: #000000 url("../images/21chapter/03.jpg") no-repeat center;
    }
    #step-4 {
      background: #000000 url("../images/21chapter/04.jpg") no-repeat center;
    }
    #step-5 {
      background: #000000 url("../images/21chapter/05.jpg") no-repeat center;
    }
    #step-6 {
      background: #000000 url("../images/21chapter/06.jpg") no-repeat center;
    }
    #step-7 {
      background: #000000 url("../images/21chapter/07.jpg") no-repeat center;
    }
    #step-8 {
      background: #000000 url("../images/21chapter/08.jpg") no-repeat center;
    }
    #step-9 {
      background: #000000 url("../images/21chapter/09.jpg") no-repeat center;
    }
    #step-10 {
      background: #000000 url("../images/21chapter/10.jpg") no-repeat center;
    }
    #step-11 {
      background: #000000 url("../images/21chapter/11.jpg") no-repeat center;
    }
    #step-12 {
      background: #000000 url("../images/21chapter/12.jpg") no-repeat center;
    }
    #step-13 {
      background: #000000 url("../images/21chapter/13.jpg") no-repeat center;
    }
    #step-14 {
      background: #000000 url("../images/21chapter/14.jpg") no-repeat center;
    }
    #step-15 {
      background: #000000 url("../images/21chapter/15.jpg") no-repeat center;
    }
    #step-16 {
      background: #000000 url("../images/21chapter/16.jpg") no-repeat center;
    }

    #step-17 {
      background: #000000 url("../images/21chapter/17.jpg") no-repeat center;
    }

    #step-18 {
      background: #000000 url("../images/21chapter/18.jpg") no-repeat center;
    }
    #step-19 {
      background: #000000 url("../images/21chapter/19.jpg") no-repeat center;
    }
    #step-20 {
      background: #000000 url("../images/21chapter/20.jpg") no-repeat center;
    }
    #step-21 {
      background: #000000 url("../images/21chapter/21.jpg") no-repeat center;
    }
  }
  .g-slider{
    display: table;
    width: 100%;
    height: 100%;
  }
  .g-sld .flexslider {
    background: #000;
    position: absolute;
    left: 0;
    display: table;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;

    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .slides {
      display: table-cell;
      vertical-align: middle
    }
  }
  .m-slider{
   display: table-cell;
    vertical-align: middle;
  }
  .listdetail{
    width: 100%;

  }


}
.arrow-center{position: absolute; z-index: 700;top:52%;left: 0; width: 100%;height: 60px;
  .icon-yingdaicon10,.icon-yingdaicon09{width: 60px;height: 60px;display: inline-block;position: absolute;top:0; cursor: pointer;}

  .icon-yingdaicon10:before,.icon-yingdaicon09:before{color: #ffe3cd; font-size: 60px; cursor: pointer; display: block;vertical-align: middle;}
  .icon-yingdaicon09{left: 5%;}
  .icon-yingdaicon10{right: 5%;}
}

