@charset "UTF-8"; 
.g-main-gf {
  height: 100%;
  background: url('../images/damei-bg.png') center center;
  overflow: hidden;
  .set_table {
    display: table;
    height: 100%;
  }
}
.g-maininner-gf {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  a.carousel-control i {font-size:40px; color:#d1b7a6;}
}