@charset "utf-8";
$fontStack: '宋体';
$primaryColor: #f6d2b9;
.m-main-zt {
  padding: 80px 0 120px 0;
  .container{
    position: relative;
    >a{
      position: absolute; top:50%; display: block; width: 40px; height: 40px;line-height: 40px;

      span{font-size: 40px;color:#ffe3cd; display: block;
        //          &:hover{color:#714e38;}
      }
      .icon-yingdaicon09:before{top:0;}
      &.left{/*left: -50px;*/
        z-index:9999;
        position: fixed;
        left: 16.43%;
        @media screen and (width:768px){
          left:1.43%;
        }
        @media screen and (width:1024px){
          left:4.43%;
        }
        @media screen and (width: 1280px){
          left:6.43%;
        }
        @media screen and (min-width:1355px) and (max-width:1367px){
          left:8.43%;
        }
      }
      &.right{/*right:-50px;*/
        z-index:9999;
        position: fixed;
        right:12.63%;
        @media screen and (width:1440px){
          right:0.63%;
        }
        @media screen and (width:1280px){
          right:5.63%;
        }
        @media screen and (width:1024px){
          right:5.43%;
        }
        @media screen and (width:768px){
          right:-0.37%;
          top:49%;
        }
        @media screen and (min-width:1355px) and (max-width:1367px){
          right:10%;
        }
      }
    }
  }
  .m-bd {
    .m-hd {
      margin-top: 50px;
      h3 {
        font-family: $fontStack;
        font-size: 36px;
        color: $primaryColor;
        font-weight: normal;
        @media (min-width: 991px) and (max-width: 1170px) {
          font-size: 26px;
        }
      }
      p {

        color: $primaryColor;
        font-size: 12px;
        padding-top: 20px;
        span {
          line-height: 1.8em;
          padding-left: 20px;
        }
      }
    }
    .m-product1 {
      padding-top: 220px;
      .m-lcon-1 {
        position: relative;
        .z-plus {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size:40px;
          color:#f6d2b9;
        }
      }
      p {
        font: {
          family: $fontStack;
          size: 14px;
          weight: normal;
        }
        color: $primaryColor;
        padding-top: 13px;
        line-height: 1.8em;
      }
    }
    .m-product2 {
      padding-top: 48px;
      .m-lcon-2 {
        position: relative;
        .z-plus {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size:40px;
          color:#f6d2b9;
        }
      }
      p {
        font: {
          family: $fontStack;
          size: 14px;
          weight: normal;
        }
        color: $primaryColor;
        padding-top: 13px;
        line-height: 1.8em;
      }
    }
  }
}
.main-right>div{
  float: left;
  width:100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .m-product2 {
    padding-top: 0 !important;
    margin-top: 60px;
  }
  .w-main{
    margin-left:-100px;
  }
  .main-right {
    margin-bottom: 80px
  }
}
.damei_title{
  position: fixed;
  left:20.15%;
  top:8.89%;
  @media screen and (width:1024px){
    left:7.76%;
  }
  @media screen and (width:1280px){
    left:10%;
  }
  @media screen and (min-width:1355px) and (max-width:1367px){
    left:12.76%;
  }
  h3{
    font-size: 16px; color:#f6d2b9; font-weight: normal;
    @media screen and (width:1280px){
      padding-top:12px;
    }
  }
  p{color:#f6d2b9; font-size: 12px; margin-top: 50px;}
}
.damei_text {
  position: fixed;
  left: 19.76%;
  top: 17.56%;
  @media screen and (width:1024px){
    left:7.76%;
  }
  @media screen and (width:1280px){
    left:10%;
  }
  @media screen and (min-width:1355px) and (max-width:1367px){
    left:12.76%;
  }
}
.damei_text.col-md-4{
  @media screen and (min-width: 992px){
    width:27.633%;
  }
}
.damei_bg{background: url("../images/damei-bg.png") center center no-repeat;}

//.m-lcon-1 {
//  @include pic-center(365px, -144px)
//}
//
//.m-lcon-2 {
//  @include pic-center(365px, -183px)
//}
@media (min-width: 1170px) and (max-width: 1400px){
  .m-main-zt .container{width: 970px;}
  .m-main-zt{padding: 100px 0 0}

}
@media (min-width: 992px) and (max-width: 1169px){
  .m-main-zt .container{width: 840px;}
  .m-main-zt{padding: 100px 0 0}
  .m-main-zt .m-bd .m-product1{padding-top: 130px}
  //  .m-main-zt .m-bd .m-hd h3{font-size: 26px;}
}
@media (max-width: 991px) {
  .m-main-zt .container{width: 720px;}
}
.z-plus{
  &:hover{
    @include rotate_hover();
  }
}
@media screen and (min-width:1024px) and (max-width: 1366px){
  .w-main{
    margin-left:-100px;
  }
}

@media screen and (width:1366px){
  .m-product1{
    margin-top:-225px;
  }
}

@media screen and (max-width:992px){
  .m-main-zt .main-right{
    top:0;
  }
  .damei_title,.damei_text{
    position: relative;
    margin-left:-73px;
  }
}

@media screen and (width:1280px){
  .m-main-zt .main-right {
    left:-69px;
    margin-bottom: 72px
  }
}

@media screen and (width:1024px){
  .m-main-zt .main-right {
    left:-68px;
    margin-bottom: 120px
  }
}

@media screen and (min-width:1355px) and (max-width: 1377px){
  .m-main-zt .main-right{
    margin-bottom: 100px;
    left:-78px;
  }
}