

@charset "utf-8";

$fontStack: '宋体';
$primaryColor: #f6d2b9;
.m-main-zt {
  padding: 80px 0 120px 0;
  .container{
    position: relative;
    >a{
      position: absolute; top:50%; display: block; width: 40px; height: 40px;line-height: 40px;

      span{font-size: 40px;color:#ffe3cd; display: block;
        //          &:hover{color:#714e38;}
      }
      .icon-yingdaicon09:before{top:0;}
      &.left{left: -50px;
        @media (max-width: 1023px) {
          left: 0px;
        }
      }
      &.right{right:-50px;
        @media (max-width: 1023px) {
          right: -20px;
        }
      }
    }
  }
  .m-bd {
    .m-hd {
      margin-top: 50px;
      h3 {
        font-family: $fontStack;
        font-size: 36px;
        color: $primaryColor;
        font-weight: normal;
        @media (min-width: 991px) and (max-width: 1170px) {
          font-size: 26px;
        }
      }
      p {

        color: $primaryColor;
        font-size: 12px;
        padding-top: 20px;
        span {
          line-height: 1.8em;
          padding-left: 20px;
        }
      }
    }
    .m-product1 {
      padding-top: 220px;
      .m-lcon-1 {
        position: relative;
        .z-plus {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size:40px;
          color:#f6d2b9;
        }
      }
      p {
        font: {
          family: $fontStack;
          size: 14px;
          weight: normal;
        }
        color: $primaryColor;
        padding-top: 13px;
        line-height: 1.8em;
      }
    }
    .m-product2 {
      padding-top: 48px;
      .m-lcon-2 {
        position: relative;
        .z-plus {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size:40px;
          color:#f6d2b9;
        }
      }
      p {
        font: {
          family: $fontStack;
          size: 14px;
          weight: normal;
        }
        color: $primaryColor;
        padding-top: 13px;
        line-height: 1.8em;
      }
    }
  }
  .m-md-main{
    position: relative;
    height:670px;
//    overflow:hidden;
    .main-item{
      float:left;
      height:626px;
    }
    .viewport{
      height:670px;
      overflow: hidden;
      position: relative;
    }
    .overview{
      position: absolute;
      left: 0;
    }
    .scrollbar{
      background-position: 0 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
//      height:80px;
      z-index: 100;
      background-color: #333333;
      .track{
        background-color: #000;
        position: relative;
        width: 2px;

      }
      .thumb{
        background:url("../images/article-scroll.png") repeat-y scroll 50% 100% transparent;
        cursor: pointer;
        left:-5px;
        overflow: hidden;
        position: absolute;
        width: 14px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .m-product2 {
    padding-top: 0 !important;
    margin-top: 60px;
  }
}
.damei_title{
  h3{font-size: 16px; color:#f6d2b9; font-weight: normal;}
  p{color:#f6d2b9; font-size: 12px; margin-top: 50px;}
}
.damei_bg{background: url("../images/damei-bg.png") center center no-repeat;}

//.m-lcon-1 {
//  @include pic-center(365px, -144px)
//}
//
//.m-lcon-2 {
//  @include pic-center(365px, -183px)
//}
@media (min-width: 1170px) and (max-width: 1400px){
  .m-main-zt .container{width: 970px;}
  .m-main-zt{padding: 100px 0 0}

}
@media (min-width: 992px) and (max-width: 1169px){
  .m-main-zt .container{width: 840px;}
  .m-main-zt{padding: 100px 0 0}
  .m-main-zt .m-bd .m-product1{padding-top: 130px}
  //  .m-main-zt .m-bd .m-hd h3{font-size: 26px;}
}
@media (max-width: 991px) {
  .m-main-zt .container{width: 720px;}
}
.z-plus{
  &:hover{
    @include rotate_hover();
  }
}

@media (width: 1366px){           //update by qin
  .m-product1{margin-top:-225px;}
}
