@charset "utf-8";
.m-fullscreen {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #f6d2b9;
  .fs-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .fs-mid {
    margin: 0 auto;
    font-size: 16px;
    h1 {
      font-size:5em;
      span {
        font-family: "myfont-bold";
      }
    }
    p {
      margin: 0 auto;
      padding-top: 2.5%;
      width: 31.25%;
      font-size: 0.75em;
      line-height: 1.5;
      text-align: left;
    }
    h3 {
      padding-top: 10%;
      margin-left: 1em;
      font-family: "myfont-bold";
      font-size: 1em;
      letter-spacing: 1em;
    }
  }
  .fs-down {
    position: absolute;
    bottom: 7%;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    display: block;
    cursor: pointer;
    padding-top: 40px;
    img {
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}

.m-fullscreen-img {
  display: block;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  color: #f6d2b9;
  a {color: #f6d2b9;}
  .fs-mid {
    position: absolute;
    width: auto;
    text-align: center;
    h1 {
      font-size:2.5em;
      line-height: 1.5;
      span {
        font-family: "myfont-bold";
      }
    }
    h4 {
      font-size: 1.25em;
      line-height: 4;
      font-weight: normal;
    }
  }
}

.m-fullscreen-1 {
  background-image: url("../images/brand-progress-1.jpg");
  color: #000;
  a {color: #000;}
  .fs-mid {
    top: 18%;
    right: 22%;
  }
}

.m-fullscreen-2 {
  background-image: url("../images/brand-progress-2.jpg");
  color: #000;
  a {color: #000;}
  .fs-mid {
    top: 42%;
    right: 20%;
  }
}

.m-fullscreen-3 {
  background-image: url("../images/brand-progress-3.jpg");
  .fs-mid {
    top: 52%;
    left: 20%;
  }
}

.m-fullscreen-4 {
  background-image: url("../images/brand-progress-4.jpg");
  .fs-mid {
    top: 52%;
    right: 25%;
  }
}

@media screen and (width: 768px){
  .m-fullscreen {
    display: block;
    .fs-inner {
      display: block;
      vertical-align: top;
      padding-top: 160px;
      .fs-mid {
        h1 {
          padding-top: 5%;
          font-size: 3em;
        }
        .fs-badge img {
          width: 70%;
        }
        p {
          padding-top: 15%;
          width: 75%;
        }
        h3 {
          padding-top: 30%;
          margin-top: 2em;
        }
      }
    }
    .fs-down {
      bottom: 20%;
    }
  }
  .m-fullscreen-1 {
    .fs-mid {
      top: 15%;
      right: 10%;
    }
  }
  .m-fullscreen-2 {
    background-position: 40% center;
    .fs-mid {
      top: 35%;
      right: 10%;
    }
  }
  .m-fullscreen-3 {
    .fs-mid {
      top: 35%;
      left: 10%;
    }
  }
  .m-fullscreen-4 {
    .fs-mid {
      top: 35%;
      right: 10%;
    }
  }
}

@media screen and (width: 1024px){
  .m-fullscreen {
    display: block;
    .fs-inner {
      display: block;
      vertical-align: top;
      padding-top: 100px;
      .fs-mid {
        h1 {
          padding-top: 5%;
          font-size: 4em;
        }
        p {width: 40%;}
        h3 {
          margin-top: 2em;
        }
      }
    }
    .fs-down {
      bottom: 12%;
    }
  }
  .m-fullscreen-1 {
    .fs-mid {
      top: 15%;
      right: 10%;
    }
  }
  .m-fullscreen-2 {
    background-position: 40% center;
    .fs-mid {
      top: 35%;
      right: 10%;
    }
  }
  .m-fullscreen-3 {
    .fs-mid {
      top: 35%;
      left: 10%;
    }
  }
  .m-fullscreen-4 {
    .fs-mid {
      top: 35%;
      right: 10%;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1366px){
  .m-fullscreen-1 {
    .fs-mid {
      top: 10%;
      right: 10%;
    }
  }
  .m-fullscreen-4 {
    .fs-mid {
      top: 40%;
      right: 15%;
    }
  }
}

@media (min-width: 1367px) and (max-width: 1440px){
  .m-fullscreen {
    .fs-inner {
      .fs-mid {
        p {width: 40%;}
      }
    }
  }
  .m-fullscreen-1 {
    .fs-mid {
      top: 15%;
      right: 15%;
    }
  }
  .m-fullscreen-3 {
    .fs-mid {
      left: 12%;
    }
  }
  .m-fullscreen-4 {
    .fs-mid {
      top: 45%;
      right: 20%;
    }
  }
}

@media (min-width: 1441px) and (max-width: 1600px){
  .m-fullscreen {
    .fs-inner {
      .fs-mid {
        p {width: 40%;}
      }
    }
  }
  .m-fullscreen-1 {
    .fs-mid {
      top: 15%;
      right: 18%;
    }
  }
  .m-fullscreen-3 {
    .fs-mid {
      left: 15%;
    }
  }
  .m-fullscreen-4 {
    .fs-mid {
      top: 40%;
      right: 15%;
    }
  }
}
