@charset "utf-8";
$font-family: '宋体';
$color: #ffe3cd;

@mixin font($font-size: 16px) {
  font-size: $font-size;
  color: $color;
  font-family: $font-family;
  font-weight: normal;
}

.m-main-cy{
  padding-top: 80px;
  @media (max-width: 1900px) {
    padding-bottom: 80px;
  }
}
.m-main-cy .title {
  margin-top: 35px;
  padding-bottom: 42px;
  border-bottom: 1px solid $color;
  text-align: center;
  @include font(24px);
}
.m-main-cy .prompt {
  position: relative;
  margin-top: 7px;
  padding-left: 12px;
  @include font();
  span {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 0;
  }
}
.m-main-cy .register-form {
  padding-top: 43px;
  .form-group {
    margin-bottom: 25px;
    position:relative;
    label {
      position: relative;
      @include font();
      span {
        display: inline-block;
        position: absolute;
        top: -6px;
        right: -8px;
      }
    }
    .form-control {
      height: 38px;
      background-image:url(about:blank);
      background-color:transparent;
      border: 1px solid $color;
      border-radius: 0;
      color: $color;
    }
    p {position:absolute;
      right:0;
      bottom:-20px;
      visibility:hidden;
    }
  }
  .warning {
    .form-control {
      border: 1px solid #ff0000;
    }
    p {
      visibility:visible;
      text-align: right;
      font-family:$font-family;
      font-size: 12px;
      color: #e60012;
    }
  }
  .form-check {
    padding-bottom: 13px;
    padding-top: 13px;
    border-bottom: 1px solid $color;
    label {
      @include font();}
    label input{
        display: inline-block;
        margin-right: 5px;
        background: none;
        border: 1px solid $color;
        border-radius: 0;
    }
  }
  p.button {
    margin-top: 43px;
    text-align: center;
    padding-bottom: 48px;
    .btn {
      padding: 1093889520/px 45px;
      background: #44332c;
      border-radius: 0px;
      color: $color;
      font-family: $font-family;
      outline: none;
      &:hover{
        color:#714e38;
      }
    }
  }
}
//下拉性别
.sexnone{display: none;}
.wrap-select{
  position: relative;width: 100%;cursor: pointer;height: 38px;
}

.wrap-select .select{
  height: 36px;width: 100%;line-height:26px; color:#ffe3cd;border: 1px solid #ffe3cd;padding-left: 10px; padding-top: 5px;cursor: pointer;position: relative;background:url(about:blank);

}
.wrap-select ul{
  display: none;
  border: 1px solid #ccc;
  position: absolute;top: 35px; left:0;background: #ffe3cd; width: 100%;

  /*display: none;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 32px;*/
}
.wrap-select ul li{
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  color:#32251f;
  padding-left: 10px;
}
.wrap-select ul li:hover{
  background: #d7bca0;
}
.privacy{text-decoration:underline; color:#ffe3cd;

&:hover{
  color:#ffe3cd;
}
}

.m-privacy.modal{
  width: 700px;margin: 0 auto;
  .modal-dialog{
   width: 100%;
  .modal-content{
    background: #251f20;
    padding: 30px;
    .modal-title{font-size: 20px;
      color: #ffe3cd;
      margin-bottom: 30px;
      font-family: "宋体";
      font-weight: normal;}

  }
  .modal-body{
    p{
      margin-bottom: 30px;
      font-size: 12px;
      color: #ffe3cd;
      font-family: "宋体";
      font-weight: normal;
      line-height: 2.2;
    }

  }
  .modal-header{border-bottom: 0; padding: 0;}
  }
}
