.showcase_bg {
  background: url(../images/showcase_bg.jpg) center center no-repeat;
}

.showcase {
  position: relative;
  height: 30%;
  > div {
    position: absolute;
    top: 60%;
    left: 0;
    h2 {
      color: #f5dac5;
      font-size: 16px;
      font-weight: normal;
    }
  }
}
.m-showcase {
  width: 100%;
  position: relative;
  overflow: hidden;
  > ul {
    &:after {
      clear: both;
      display: block;
      content: "";
    }
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    overflow: hidden;
    li {
      float: left;
      margin-right: 10px;

          img {
            border: 0;
            height: auto;
            width: 100%;
          }
          @media (min-width: 1025px) {
            @include pic-scale();
          }

        }
      }
      .left {
        position: absolute;
        top: 45%;
        left: 0;
        font-size: 60px;
        color: #ffe3cd;
        display: block;
        height: 100%;
        cursor: pointer;
        width: 60px;
      }
      .right {
        position: absolute;
        top: 45%;
        right: 0;
        font-size: 60px;
        color: #ffe3cd;
        display: block;
        height: 100%;
        cursor: pointer;
        width: 60px;
      }
    }
