@charset "UTF-8";
.m-yingdabrand-cy {
  padding-top: 120px;
  & > .container {
    position: relative;
    @media (max-width: 999px) {
          padding-bottom: 200px;
    }
  }
  .container {
    @media (min-width: 1400px){
      width: 1000px;}
    @media (min-width: 1200px) and (max-width: 1399px) {
      width: 800px;
    }
    @media (max-width: 1199px) and (min-width: 992px){
      width: 700px;
    }
    @media (min-width:768px) and (max-width: 991px){
      width: 600px;
    }
    @media (max-width: 768px) {
      width: 500px;
    }

  }
  .heng {
    display: block;
    margin-left: 4px;
    width: 18px;
    height: 1px;
    background: #f6d2b9;
  }
  .title {
    margin-top: 60px;
    font-size: 40px;
    color: #f6d2b9;
    font-family: 'myfont';
    font-weight: normal;
  }
  .img {
    position: relative;
    .video,img {
      width: 100%;
      z-index:10;
    }
    .video{
      z-index:0;
      height:200px;
      @media (min-width: 1400px){
        height: 264px;}
      @media (min-width: 1199px) and (max-width: 1399px) {
        height: 209px;
      }
      @media (max-width: 1200px) and (min-width: 992px){
        height:180px;
    }
      @media (min-width:768px) and (max-width: 991px){
        height: 208px;
      }}
    .pic {
      margin-top: 20px;
    }
    .iconfont {
      position: absolute;
      bottom: 2%;
      right: 3%;
      color: #ffe3cd;
      font-size: 4em;
      cursor: pointer;
    }
  }
  p {
    margin-top: 26px;
    font-size: 12px;
    color: #f6d2b9;
    line-height: 1.8;
  }
  .pra {
    margin-top: 26px;
  }
  .pra1 {
    margin-top: 0;
  }
  /*底部时间列表*/
  .bottom-years {
    position: fixed;
    bottom: 40px;
    left: 0;
    @media (min-width: 1000px) and(max-width: 1139px) {
      bottom: 80px;
      left: 0;
    }
    @media (max-width: 999px) {
      bottom: 120px;
      left: 0;
    }
    width: 100%;
    border-bottom: 1px solid #f2d8c3;
    clear: both;
    .year-list {
      position:relative;
      margin: 0 auto;
      height: 30px;
      overflow: hidden;
      .years {
        position: absolute;
        top:0;
        left: 0;
        list-style-type: none;
        li {
          float: left;

          a {
            display: block;
            padding-left: 4px;
            padding-right: 18px;
            padding-bottom: 16px;
            color: #959597;
            font-size: 14px;
            border-right: 1px solid #f2d8c3;
            &:hover {
              color: #ffe3cd;
            }
          }
          a.last {
            border-right: none;
          }
        }
      }
    }
    //时间列表左右滑动箭头
    .iconfont {
      position: absolute;
      top: -1px;
      font-size: 14px;
      color: #f6d2b9;
      cursor: pointer;
      padding: 0 0 10px 10px;
      &:hover{color:#9b9b9e;}
    }
  }
  @media(min-width: 768px) {
    .bottom-years {
      .iconfont.left {
        left: 20px;
      }
      .iconfont.right {
        right: 20px;
      }
    }
  }
  @media(min-width: 1200px) {
    .bottom-years {
      .iconfont.left {
        left: 90px;
      }
      .iconfont.right {
        right: 90px;
      }
    }
  }
}