.g-carousel-cy{
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}
.m-carousel-cy {
  display: table-cell;
  vertical-align: middle;

  .carousel-inner .item {
    img{width: 100%;}
    .carousel-caption {
      position:static;
      h3 {
        margin-top: 10%;
        font-size: 40px;
        color: #f6d2b9;
        text-align: left;
        font-weight: normal;
      }
      p.title {
        margin-top:8%;
        text-align: left;
        color: #f6d2b9;
        font-size: 20px;

      }
      p.con {
        margin-top: 4%;
        padding-right: 4%;
        text-align: left;
        color: #f6d2b9;
        font-size: 14px;
        line-height: 1.8;
      }

    }
  }
  .carousel .left {
    text-align: left;
    .glyphicon-chevron-left {
      left:4%;
    }
  }

  .carousel .right {
    text-align: right;
    .glyphicon-chevron-right {
      right: 4%;
    }
  }
}

