@charset "utf-8";

.m-textOnImg {
  position: relative;
  width: 100%;
  a {
    color: $seasonFashion1;
  }
  .table-wrap {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .table-inner {
    display: table;
    width: 100%;
    height: 100%;
  }
  .table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  h3 {
    padding: 0.4rem 0;
    font-size: 1.5rem;
    line-height: 1;
    font-family: "didot";
    font-weight: normal;
    @media (min-width: 480px) and (max-width: 719px) {
      font-size: 1.8rem;
    }
    @media screen and (min-width:720px ) {
      font-size: 2.8rem;
    }
  }
  h4 {
    @extend h3;
    font-family: "\5B8B\4F53";
  }
  p {
    padding: 0.5rem 0;
    a {
      padding: 0.2rem 0.5rem;
      font-size: 1rem;
      @media (min-width: 480px) and (max-width: 719px) {
        font-size: 1.2rem;
      }
      @media screen and (min-width:720px ) {
        font-size: 1.4rem;
      }
      border: 1px solid $seasonFashion1;
      &.weibo {
        padding: 0;
        font-size: 1.5rem;
        @media (min-width: 480px) and (max-width: 719px) {
          font-size: 1.6rem;
        }
        @media screen and (min-width:720px ) {
          font-size: 1.8rem;
        }
        border: none 0;
      }
      &.wechat {
        @extend .weibo;
        margin-left: 0.5rem;
      }
    }
  }
  img {
    display: block;
  }
}

.m-textOnImg-1 {
  a {
    color: $channelFont;
  }
  p {
    a {
      border: 1px solid $channelFont;
    }
  }
}

.m-textOnImg1 {
  width: 100%;
  margin-bottom: 2px;
  img {
    display: block;
  }
  .big-btn {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    color: $indexImgText;
    font-size: 2rem;
    font-weight: normal;
    $bigBtnSize: 6;
    @include min-width(320px){
      line-height: $bigBtnSize;
    }
    @include min-width(360px){
      line-height: $bigBtnSize * 1.125;
    }
    @include min-width(400px){
      line-height: $bigBtnSize * 1.25;
    }
    @include min-width(480px){
      line-height: $bigBtnSize * 1.5;
    }
    @include min-width(540px){
      line-height: $bigBtnSize * 1.6875;
    }
    @include min-width(600px){
      line-height: $bigBtnSize * 1.875;
    }
    @include min-width(640px){
      line-height: $bigBtnSize * 2;
    }
    @include min-width(720px){
      line-height: $bigBtnSize * 2.25;
    }
    @include min-width(900px){
      line-height: $bigBtnSize * 2.8125;
    }
    span {
      font-family: "didot";
    }
  }
  .menu {
    display: none;
    li {
      height: 4.4rem;
      border-bottom: 1px solid $indexMenuBorder;
      a {
        display: block;
        font-size: 1.4rem;
        line-height: 4.4rem;
        text-align: center;
        color: $indexMenuText;
      }
    }
  }
}