@charset "utf-8";

.m-footer {
  padding: 1rem;
  background-color: #000;
  text-align: center;
  .iconlink {
    padding: 1rem 0 0 1rem;
    a {
      padding-right: 1rem;
      width: 2.6rem;
      height: 1.8rem;
      font-size: 2rem;
      line-height: 2rem;
      color: $shopListFont;
    }
  }
  .textlink {
    padding: 1rem;
    a {
      display: block;
      font-size: 1.2rem;
      line-height: 2.8rem;
      color: $indexMenuText;
    }
  }
  .copyright {
    font-size: 1.2rem;
    line-height: 1.2;
    color: $indexMenuText;
  }
}