@charset "utf-8";

//swiper
$swiperArrBg:#382d23;
//seasonfashion
$seasonFashion:#564b47;
$seasonFashion1:#fee3ce;
//index
$indexImgText:#f7dcc7;
$indexMenuText:#9b9b9e;
$indexMenuBorder:#2e2e2e;
//shoplist
$shopListFont:#ffe3cd;
$shopListFont1:#7c5e50;
//channel
$channelFont:#32251f;