@font-face {
  font-family: 'didot';
  src: url('../font/Didot.eot');
  src: url('../font/Didot.eot?#iefix') format('embedded-opentype'), url('../font/Didot.woff') format('woff'), url('../font/Didot.ttf') format('truetype'), url('../font/Didot.svg#FontName') format('svg');
  font-weight: normal;
}