@mixin f-cb {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}

@mixin min-width($res){
  @media only screen and (min-width:$res)
  {
    @content;
  }
}