@mixin f-cb {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}

@mixin textOnImg ($font-size:1.5rem,$line-height:2.3rem,$font-weight:normal){
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin min-width($res){
  @media only screen and (min-width:$res)
  {
    @content;
  }
}