@mixin f-cb {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}

@mixin textOnImg ($font-size:1.5rem,$line-height:2.3rem){
  font-size: $font-size;
  line-height: $line-height;
}