
.pt-5 {
  padding-top: 5px
}

.pt-10 {
  padding-top: 10px
}

.pt-5 {
  padding-top: 5px
}

.pt-10 {
  padding-top: 10px
}

.pt-84 {
  padding-top: 84px
}

.pr-20 {
  padding-right: 20px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pr-0 {
  padding-right: 0;
  padding-left: 0;
}

.pl-30 {
  padding-left: 30px;
}

.pr-0 {
  padding-right: 0px;
}
