@charset "UTF-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

.f-mt5 {
  margin-top: 5px; }

.f-mt10 {
  margin-top: 10px; }

.f-mt5 {
  margin-top: 5px; }

.f-mt20 {
  margin-top: 20px; }

.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-84 {
  padding-top: 84px; }

.pr-20 {
  padding-right: 20px; }

/* function */
.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

.f-cb, .f-cbli li {
  zoom: 1; }

.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.f-dn {
  display: none; }

.f-db {
  display: block; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-pr {
  position: relative; }

.f-prz {
  position: relative;
  zoom: 1; }

.f-oh {
  overflow: hidden; }

.f-ff0 {
  font-family: arial, \5b8b\4f53; }

.f-ff1 {
  font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53; }

.f-fs1 {
  font-size: 12px; }

.f-fs2 {
  font-size: 14px; }

.f-fwn {
  font-weight: normal; }

.f-fwb {
  font-weight: bold; }

.f-tal {
  text-align: left; }

.f-tac {
  text-align: center; }

.f-tar {
  text-align: right; }

.f-taj {
  text-align: justify;
  text-justify: inter-ideograph; }

.f-vam, .f-vama * {
  vertical-align: middle; }

.f-wsn {
  word-wrap: normal;
  white-space: nowrap; }

.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }

.f-ti {
  overflow: hidden;
  text-indent: -30000px; }

.f-ti2 {
  text-indent: 2em; }

.f-lhn {
  line-height: normal; }

.f-tdu, .f-tdu:hover {
  text-decoration: underline; }

.f-tdn, .f-tdn:hover {
  text-decoration: none; }

.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

.f-csp {
  cursor: pointer; }

.f-csd {
  cursor: default; }

.f-csh {
  cursor: help; }

.f-csm {
  cursor: move; }

.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-taobao:before {
  content: "\e64f"; }

.icon-yingdaicon09:before {
  content: "\e648"; }

.icon-yingdaicon10:before {
  content: "\e649"; }

.icon-yingdaicon07:before {
  content: "\e646"; }

.icon-yingdaicon08:before {
  content: "\e647"; }

.icon-yingdaicon05:before {
  content: "\e644"; }

.icon-yingdaicon03:before {
  content: "\e642"; }

.icon-yingdaicon04:before {
  content: "\e643"; }

@font-face {
  font-family: 'myfont';
  src: url("../font/Didot.eot");
  src: url("../font/Didot.eot?#iefix") format("embedded-opentype"), url("../font/Didot.woff") format("woff"), url("../font/Didot.ttf") format("truetype"), url("../font/Didot.svg#FontName") format("svg");
  font-style: 14px;
  font-weight: normal; }
@font-face {
  font-family: 'myfont';
  src: url("../font/Didot.eot");
  src: url("../font/Didot.eot?#iefix") format("embedded-opentype"), url("../font/Didot.woff") format("woff"), url("../font/Didot.ttf") format("truetype"), url("../font/Didot.svg#FontName") format("svg");
  font-style: 14px;
  font-weight: normal; }
.body_bg {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0; }

@media screen and (max-width: 992px) {
  .m-pg-left h3 {
    display: none; } }
.m-pg-left h3 span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 56px;
  width: 184px;
  height: 56px;
  border-bottom: 1px solid #c5bdad;
  font-weight: normal;
  font-size: 20px;
  color: #210700; }
.m-pg-left .item {
  line-height: 36px;
  height: 36px;
  width: 184px;
  border-top: 1px solid #eae1d1;
  border-bottom: 1px solid #c5bdad; }
  @media screen and (max-width: 992px) {
    .m-pg-left .item {
      margin-top: 17px;
      line-height: 50px;
      height: 50px;
      text-align: center;
      width: 100%;
      border-width: 0; } }
  .m-pg-left .item a {
    font-size: 14px;
    color: #210700; }
.m-pg-left .s-grey {
  position: relative; }
  @media screen and (max-width: 992px) {
    .m-pg-left .s-grey:after {
      content: "";
      position: absolute;
      left: 50%;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -17px;
      width: 2em;
      height: 3px;
      background-color: #210700; } }
@media screen and (max-width: 992px) {
  .m-pg-left .row {
    margin-bottom: 26px;
    border-bottom: 1px solid #b7b2a8;
    box-shadow: 0 2px 0 -1px #ffffff; } }

.m-pg-right {
  overflow: hidden;
  margin-top: 0; }
  .m-pg-right .clum-title {
    width: 100%;
    line-height: 58px;
    height: 58px;
    border-bottom: 1px solid #b7b2a8;
    font-weight: normal;
    font-size: 26px;
    color: #210700; }
  .m-pg-right .yh {
    height: 1px;
    width: 100%; }

.g-pg-main {
  padding-top: 46px;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 992px) {
    .g-pg-main {
      padding-top: 0; } }
  @media screen and (min-width: 1024px) {
    .g-pg-main {
      padding-bottom: 50px; } }

.u-page {
  margin-top: 50px;
  margin-bottom: 16px;
  text-align: right; }
  @media screen and (max-width: 768px) {
    .u-page {
      margin-top: 16px; } }
  @media screen and (max-width: 768px) {
    .u-page {
      text-align: center; } }
  .u-page .pre {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding-left: 14px;
    padding-right: 15px;
    background: url("../images/newslist-pic2.png") 2px 2px no-repeat;
    font-size: 12px;
    color: #83654c; }
  .u-page .next {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding-right: 14px;
    padding-left: 14px;
    background: url("../images/newslist-pic3.png") right 2px no-repeat;
    font-size: 12px;
    color: #83654c; }
  .u-page .pagef {
    padding: 0 1%;
    font-size: 12px;
    color: #83654c; }
  .u-page a:hover {
    color: #ab9885; }

.g-page-top {
  width: 100%;
  overflow: hidden;
  background-color: #FAFAFA; }

.header {
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  height: auto;
  overflow: visible;
  font-size: 0;
  letter-spacing: -0.307em;
  *letter-spacing: normal;
  *word-spacing: -1px; }
  .header .logo {
    text-align: right;
    vertical-align: middle;
    width: 13.8%;
    height: auto;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
    @media screen and (min-width: 1131px) {
      .header .logo {
        width: 9%; } }
    @media screen and (max-width: 640px) {
      .header .logo {
        text-align: center;
        width: 100%; } }
    .header .logo img {
      max-width: 106px;
      min-width: 69px;
      width: auto;
      min-height: 55px;
      max-height: 81px;
      height: auto;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }
  .header .m-nav {
    vertical-align: middle;
    line-height: 1;
    width: 77.2%;
    height: auto;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
    @media screen and (min-width: 1131px) {
      .header .m-nav {
        width: 84%; } }
    @media screen and (max-width: 640px) {
      .header .m-nav {
        margin-top: 6px;
        line-height: 2;
        width: 100%;
        border-top: 1px solid #afa28d; } }
  .header li {
    text-align: center;
    width: 17.6%;
    height: auto;
    border-right: 1px solid #a6917f;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
    .header li.first {
      width: 12%; }
    .header li.last {
      border-right-width: 0; }
    @media screen and (max-width: 640px) {
      .header li {
        border-right-width: 0; } }
    .header li a {
      font-size: 14px;
      font-weight: 700;
      font-family: "宋体";
      color: #83654c;
      letter-spacing: normal;
      *word-spacing: normal; }
      @media screen and (max-width: 640px) {
        .header li a {
          font-size: 12px; } }
  .header .icon {
    margin-left: -6px;
    vertical-align: middle;
    line-height: 1;
    width: 9%;
    height: 23px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap; }
    @media screen and (min-width: 1131px) {
      .header .icon {
        width: 7%; } }
    @media screen and (max-width: 640px) {
      .header .icon {
        display: none; } }
    .header .icon a {
      padding-right: 8%;
      font-size: 20px;
      color: #967e6b;
      letter-spacing: normal;
      *word-spacing: normal; }
  .header a:hover {
    text-decoration: none; }

.m-header {
  position: relative;
  height: 4.5rem;
  background-color: #000;
  z-index: 2; }
  .m-header img.moblie-logo {
    position: absolute;
    top: 1rem;
    left: 50%;
    margin-left: -9.5rem;
    width: 19rem;
    height: 3rem; }
  .m-header span.menu-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    background: url("../images/mobile-menu.jpg") no-repeat;
    background-size: cover; }
  .m-header ul.mainMenu {
    display: none;
    position: absolute;
    top: 4.5rem;
    width: 100%;
    background: #000; }
    .m-header ul.mainMenu b, .m-header ul.mainMenu a {
      position: relative;
      display: block;
      padding: 0 1.5rem;
      height: 4.4rem;
      line-height: 4.4rem;
      color: #ffe3cd;
      border-top: 1px solid #2e2e2e;
      font-size: 1.6rem;
      font-weight: normal; }
    .m-header ul.mainMenu span {
      position: absolute;
      right: 1.4rem;
      top: 1.25rem;
      display: block;
      width: 1rem;
      height: 1.9rem;
      background: url("../images/mobile-arr-right.jpg") no-repeat;
      background-size: cover; }
      .m-header ul.mainMenu span.on {
        top: 1.7rem;
        width: 1.8rem;
        height: 1rem;
        background: url("../images/mobile-arr-down.jpg") no-repeat;
        background-size: cover; }
    .m-header ul.mainMenu .subMenu {
      display: none;
      margin-top: -1px;
      background: #000; }
      .m-header ul.mainMenu .subMenu a {
        padding: 0 3rem;
        height: 4.4rem;
        line-height: 4.4rem;
        font-size: 1.2rem;
        color: #9b9b9e; }

.pg-firms {
  /*这个是body上的类*/ }
  @media screen and (max-width: 992px) {
    .pg-firms {
      padding-bottom: 75px; } }
  @media screen and (min-width: 993px) {
    .pg-firms {
      padding-bottom: 46px; } }

.g-footer {
  z-index: 200;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ADA18F;
  width: 100%;
  height: auto;
  background-color: #F9F9F9; }
  @media screen and (min-width: 320px) {
    .g-footer {
      position: fixed;
      left: 0;
      bottom: 0; } }
  @media screen and (max-width: 992px) {
    .g-footer:after {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 25px;
      background-color: #dfd7ca; } }
  .g-footer ul, .g-footer p {
    line-height: 44px;
    height: auto; }
  .g-footer ul {
    text-align: left; }
    @media screen and (max-width: 992px) {
      .g-footer ul {
        text-align: center;
        font-size: 0;
        letter-spacing: -0.307em;
        *letter-spacing: normal;
        *word-spacing: -1px; } }
  .g-footer li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
    .g-footer li.first a {
      padding-left: 0; }
    .g-footer li.last a {
      border-right-width: 0;
      padding-right: 0; }
    .g-footer li a {
      padding-right: 2em;
      padding-left: 2em;
      line-height: 44px;
      border-right: 1px solid #a79281;
      font-size: 14px;
      color: #83654c;
      letter-spacing: normal;
      *word-spacing: normal; }
  .g-footer p {
    text-align: right;
    line-height: 44px;
    font-size: 14px;
    color: #83654c; }
    @media screen and (max-width: 992px) {
      .g-footer p {
        position: relative;
        z-index: 1;
        text-align: center;
        line-height: 25px;
        font-size: 12px; } }

.m-pg-bestemp .lists .list {
  border-bottom: 1px dotted #d1c8be;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media screen and (max-width: 992px) {
    .m-pg-bestemp .lists .list {
      border-color: #83654c; } }
.m-pg-bestemp .lists .pic {
  margin-right: 20px;
  margin-bottom: 3px;
  width: 120px;
  height: 120px; }
.m-pg-bestemp .lists .con {
  margin-top: -4px;
  line-height: 180%;
  font-size: 14px;
  color: #83654c; }

.m-pg-builddetail {
  padding-top: 30px; }
  .m-pg-builddetail .ti {
    font-weight: normal;
    font-size: 18px;
    color: #83654c; }
  .m-pg-builddetail .author {
    margin-top: 16px;
    font-size: 14px;
    display: inline-block;
    color: #83654c; }
  .m-pg-builddetail .time {
    margin-right: 26px; }
  .m-pg-builddetail .article {
    padding-top: 22px; }
    .m-pg-builddetail .article p {
      margin-top: 20px;
      line-height: 1.5;
      color: #83654c;
      font-size: 14px; }

.m-pg-contact .main {
  margin-top: 32px; }
  .m-pg-contact .main .map {
    height: 290px; }
  .m-pg-contact .main .firmdet {
    font-size: 0;
    letter-spacing: -0.307em;
    *letter-spacing: normal;
    *word-spacing: -1px; }
    @media screen and (max-width: 992px) {
      .m-pg-contact .main .firmdet {
        padding-bottom: 40px; } }
    .m-pg-contact .main .firmdet h3 {
      width: 100%;
      font-size: 18px;
      font-family: "宋体";
      color: #6c513a;
      font-weight: normal;
      letter-spacing: normal;
      *word-spacing: normal; }
      @media screen and (max-width: 992px) {
        .m-pg-contact .main .firmdet h3 {
          padding-top: 22px;
          line-height: 26px; } }
    .m-pg-contact .main .firmdet .add, .m-pg-contact .main .firmdet .num {
      width: 100%;
      margin-top: 14px;
      font-size: 14px;
      font-family: "宋体";
      color: #6c513a;
      letter-spacing: normal;
      *word-spacing: normal; }
    @media screen and (max-width: 992px) {
      .m-pg-contact .main .firmdet .add {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin-top: 7px; } }
    .m-pg-contact .main .firmdet .tel, .m-pg-contact .main .firmdet .email, .m-pg-contact .main .firmdet .fax, .m-pg-contact .main .firmdet .web {
      width: 50%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 16px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      letter-spacing: normal;
      *word-spacing: normal;
      padding-left: 30px;
      height: 22px;
      line-height: 22px;
      font-size: 14px;
      color: #6c513a;
      font-family: "宋体";
      background: url("../images/contactus-pic1.png") no-repeat; }
    .m-pg-contact .main .firmdet .email:hover, .m-pg-contact .main .firmdet .web:hover {
      color: #333; }
    .m-pg-contact .main .firmdet .tel {
      background-position: 0 -24px; }
    .m-pg-contact .main .firmdet .email {
      background-position: 0 -46px; }
    .m-pg-contact .main .firmdet .fax {
      background-position: 0 0px; }
    .m-pg-contact .main .firmdet .web {
      background-position: 0 -70px; }
    .m-pg-contact .main .firmdet .weixin {
      margin-top: 8px;
      padding-top: 20px;
      border-top: 1px solid #d6c2a0;
      height: auto; }
      @media screen and (max-width: 992px) {
        .m-pg-contact .main .firmdet .weixin {
          margin-top: 28px; } }
      .m-pg-contact .main .firmdet .weixin .sina, .m-pg-contact .main .firmdet .weixin .ten {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        width: 50%; }
      @media screen and (max-width: 360px) {
        .m-pg-contact .main .firmdet .weixin .ten {
          position: relative;
          left: 10px; } }
      .m-pg-contact .main .firmdet .weixin .sina, .m-pg-contact .main .firmdet .weixin .ten, .m-pg-contact .main .firmdet .weixin .yuku {
        position: relative; }
        .m-pg-contact .main .firmdet .weixin .sina .name, .m-pg-contact .main .firmdet .weixin .ten .name, .m-pg-contact .main .firmdet .weixin .yuku .name {
          vertical-align: top;
          font-size: 14px;
          font-family: "宋体";
          color: #6c513a;
          letter-spacing: normal;
          *word-spacing: normal; }
        .m-pg-contact .main .firmdet .weixin .sina .erweima, .m-pg-contact .main .firmdet .weixin .ten .erweima, .m-pg-contact .main .firmdet .weixin .yuku .erweima {
          position: relative;
          left: 10px;
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          zoom: 1;
          *display: inline;
          height: 90px;
          border: 1px solid #d6c2a0;
          padding: 6px; }
      .m-pg-contact .main .firmdet .weixin .yuku {
        margin-top: 30px; }
        .m-pg-contact .main .firmdet .weixin .yuku .wang a {
          font-size: 14px;
          font-family: "宋体";
          color: #6c513a;
          letter-spacing: normal;
          *word-spacing: normal; }

.m-pg-empbenefit .list li {
  border-bottom: 1px solid #d6cfc7;
  padding: 18px 0 8px;
  position: relative;
  font-size: 0;
  letter-spacing: -0.307em;
  *letter-spacing: normal;
  *word-spacing: -1px; }
.m-pg-empbenefit .list li .title {
  color: #210700;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  *word-spacing: normal;
  font-family: "瀹嬩綋";
  font-size: 16px; }
.m-pg-empbenefit .list li .more {
  bottom: 8px;
  color: #83654c;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  *word-spacing: normal;
  font-family: "瀹嬩綋";
  font-size: 12px;
  position: absolute;
  right: 0; }
.m-pg-empbenefit .list li .more:hover {
  color: #210700; }

@media screen and (max-width: 992px) {
  .m-pg-index {
    text-align: center; } }
.m-pg-index .pra, .m-pg-index .pra1 {
  margin-top: 26px;
  line-height: 1.5;
  font-size: 14px;
  color: #210700; }
@media screen and (max-width: 992px) {
  .m-pg-index .pra1 {
    margin-top: 24px; } }
.m-pg-index .right {
  margin-top: 30px; }
  .m-pg-index .right img {
    width: 100%;
    max-height: 250px;
    max-width: 350px; }
  .m-pg-index .right p {
    margin-top: 20px;
    font-size: 14px;
    color: #210700; }
    @media screen and (max-width: 992px) {
      .m-pg-index .right p {
        margin-top: 10px; } }
@media screen and (max-width: 992px) {
  .m-pg-index {
    margin-bottom: 150px; } }

.m-pg-newsdetail {
  padding-top: 30px;
  font-size: 0;
  letter-spacing: -0.307em;
  *letter-spacing: normal;
  *word-spacing: -1px; }
  .m-pg-newsdetail .ti {
    color: #83654c;
    font-family: "宋体";
    font-size: 18px;
    font-weight: normal; }
  .m-pg-newsdetail .time {
    color: #83654c;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-size: 14px;
    margin-right: 26px;
    margin-top: 16px; }
  .m-pg-newsdetail .author {
    color: #83654c;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-size: 14px;
    margin-top: 16px; }
  .m-pg-newsdetail .article {
    width: 100%;
    padding-top: 22px; }
    .m-pg-newsdetail .article p {
      color: #83654c;
      font-family: "宋体";
      font-size: 14px;
      line-height: 1.5;
      margin-top: 20px; }

.b-title {
  font-size: 22px; }

.u-bot-title {
  width: 100%;
  line-height: 58px;
  height: 58px;
  border-bottom: 1px solid #b7b2a8;
  font-size: 22px;
  font-weight: normal;
  color: #210700; }

.piclist {
  width: 100%;
  margin-bottom: 100px;
  margin-left: -24px;
  padding-top: 30px;
  font-size: 0;
  letter-spacing: -0.307em;
  *letter-spacing: normal;
  *word-spacing: -1px; }
  .piclist .pic {
    width: 100%;
    height: 100%;
    margin-left: 24px; }
  .piclist img {
    max-height: 112px;
    height: auto;
    max-width: 197px;
    width: 100%; }
    @media screen and (max-width: 992px) {
      .piclist img {
        float: left;
        margin-right: 8px;
        margin-bottom: 14px;
        width: auto; } }
  .piclist a {
    color: #83654c;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    *word-spacing: normal;
    font-family: "宋体";
    font-size: 14px;
    line-height: 1.5;
    margin-top: 12px; }
    .piclist a:hover {
      color: #ab9885;
      text-decoration: none; }
    @media screen and (max-width: 992px) {
      .piclist a {
        display: inline; }
        .piclist a:before {
          content: "";
          display: block;
          width: 0;
          height: 9px; }
        .piclist a:after {
          content: "";
          display: block;
          width: 0;
          height: 9px; } }

.m-pg-newslist {
  padding-top: 10px; }
  .m-pg-newslist .con {
    font-size: 0;
    letter-spacing: -0.307em;
    *letter-spacing: normal;
    *word-spacing: -1px; }
    @media screen and (max-width: 400px) {
      .m-pg-newslist .con {
        margin-top: 125px; } }
  .m-pg-newslist .list {
    border-bottom: 1px dotted #b7b2a8;
    padding: 20px 0; }
    .m-pg-newslist .list .img {
      margin-right: 30px;
      float: left;
      height: 112px;
      width: 192px; }
      .m-pg-newslist .list .img img {
        width: 100%;
        height: 100%; }
    .m-pg-newslist .list .ti a {
      color: #83654c;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: normal;
      *word-spacing: normal; }
      .m-pg-newslist .list .ti a:hover {
        color: #210700; }
    .m-pg-newslist .list .time {
      color: #83654c;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      font-size: 13px;
      margin-top: 10px;
      letter-spacing: normal;
      *word-spacing: normal; }
    .m-pg-newslist .list .author {
      color: #83654c;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      font-size: 13px;
      margin-left: 26px;
      margin-top: 10px;
      letter-spacing: normal;
      *word-spacing: normal; }
    .m-pg-newslist .list .article {
      color: #83654c;
      font-size: 13px;
      line-height: 1.6;
      margin-top: 10px; }
    .m-pg-newslist .list .more {
      line-height: 13.6833px;
      height: 13px;
      color: #83654c;
      display: block;
      text-align: right;
      font-size: 12px;
      text-decoration: none; }
      .m-pg-newslist .list .more:hover {
        color: #ab9885; }
      @media screen and (max-width: 400px) {
        .m-pg-newslist .list .more {
          margin-top: 10px; } }

.m-pg-newspublish {
  padding-top: 48px; }
  .m-pg-newspublish .list {
    width: 100%;
    cursor: default; }
  .m-pg-newspublish .u-toptitle {
    max-width: 230px;
    width: 100%;
    border-bottom: 1px solid #d6cfc7;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 14px; }
    .m-pg-newspublish .u-toptitle p {
      color: #755a44;
      font-family: "宋体";
      font-size: 14px; }
      @media screen and (max-width: 382px) {
        .m-pg-newspublish .u-toptitle p {
          font-size: 12px; } }
    .m-pg-newspublish .u-toptitle a {
      position: absolute;
      right: 0;
      bottom: 10px;
      font-size: 12px;
      color: #755a44;
      cursor: default; }
      @media screen and (max-width: 382px) {
        .m-pg-newspublish .u-toptitle a {
          right: -5px; } }
  .m-pg-newspublish .pic-list {
    width: 100%;
    margin-bottom: 48px;
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 992px) {
      .m-pg-newspublish .pic-list > a:nth-child(1) {
        pointer-events: none; } }
    .m-pg-newspublish .pic-list a {
      display: block;
      height: 100%; }
    .m-pg-newspublish .pic-list > a img {
      max-height: 255px;
      height: auto;
      max-width: 230px;
      width: 100%; }
    .m-pg-newspublish .pic-list .move {
      bottom: -40px;
      height: 40px;
      left: 0;
      position: absolute;
      width: 100%; }
      @media screen and (max-width: 992px) {
        .m-pg-newspublish .pic-list .move {
          z-index: -1;
          position: static;
          opacity: 1;
          height: 44px; } }
      .m-pg-newspublish .pic-list .move > span {
        background: none repeat scroll 0 0 #4a3b34;
        display: block;
        height: 40px;
        opacity: 0.7;
        position: relative;
        max-width: 230px;
        width: 100%;
        z-index: 20; }
        @media screen and (max-width: 992px) {
          .m-pg-newspublish .pic-list .move > span {
            display: none; } }
      .m-pg-newspublish .pic-list .move p {
        cursor: pointer;
        display: block;
        height: 30px;
        margin-top: -30px;
        position: relative;
        text-align: center;
        max-width: 230px;
        width: 100%;
        z-index: 21;
        font-size: 0;
        letter-spacing: -0.307em;
        *letter-spacing: normal;
        *word-spacing: -1px; }
        @media screen and (max-width: 992px) {
          .m-pg-newspublish .pic-list .move p {
            margin-top: 0;
            height: 100%; } }
        .m-pg-newspublish .pic-list .move p .pic {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          zoom: 1;
          *display: inline; }
        .m-pg-newspublish .pic-list .move p .fit {
          background: none repeat scroll 0 0 #fff;
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          zoom: 1;
          *display: inline;
          height: 50%;
          margin: 0 10px;
          width: 1px; }
          @media screen and (max-width: 992px) {
            .m-pg-newspublish .pic-list .move p .fit {
              display: none; } }
      @media screen and (max-width: 992px) {
        .m-pg-newspublish .pic-list .move a {
          display: block;
          margin-top: 4px;
          width: 100%;
          height: 18px;
          background-color: #83654c; }
          .m-pg-newspublish .pic-list .move a img {
            vertical-align: middle;
            width: 16px;
            height: 11px; }
          .m-pg-newspublish .pic-list .move a:nth-child(1):after {
            content: "点击查看";
            vertical-align: middle;
            color: #FFFFFF;
            font-size: 12px; }
          .m-pg-newspublish .pic-list .move a:nth-child(3):after {
            content: "点击下载";
            vertical-align: middle;
            color: #FFFFFF;
            font-size: 12px; } }

.m-pg-newsvideo .main {
  padding-top: 30px;
  margin-left: -10px; }
.m-pg-newsvideo .con {
  padding-bottom: 1px;
  margin-left: 10px;
  margin-bottom: 30px;
  background: none repeat scroll 0 0 #F9F9F9; }
.m-pg-newsvideo .time {
  padding-top: 18px;
  margin: 0 20px;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #D2C7B5;
  font-size: 14px;
  color: #83654C; }
.m-pg-newsvideo .descript {
  margin: 10px 20px 20px; }
  .m-pg-newsvideo .descript a {
    cursor: text;
    font-size: 14px;
    color: #83654C;
    line-height: 1.5; }

.pg-yearbook {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%; }

.m-pg-yearbook {
  width: 862px;
  float: right; }
  .m-pg-yearbook:after, .m-pg-yearbook:before {
    display: table;
    content: ""; }
  .m-pg-yearbook:after {
    clear: both; }
  .m-pg-yearbook .m-list {
    margin-bottom: 100px; }
    .m-pg-yearbook .m-list li {
      cursor: pointer; }
      .m-pg-yearbook .m-list li .show {
        position: relative;
        height: 56px; }
        .m-pg-yearbook .m-list li .show a {
          display: block;
          float: left;
          width: 156px;
          height: 56px;
          line-height: 56px;
          border-right: 1px solid #fff;
          font-size: 22px;
          font-style: italic;
          color: #210700; }
          .m-pg-yearbook .m-list li .show a:hover {
            color: #714e38; }
        .m-pg-yearbook .m-list li .show p {
          overflow: hidden;
          width: 660px;
          float: left;
          padding-left: 44px;
          margin: 0;
          border-left: 1px solid #b7b2a8;
          height: 56px;
          line-height: 56px;
          font-size: 20px;
          font-family: "宋体";
          color: #210700;
          -o-user-select: none;
          -ms-user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          user-select: none; }
        .m-pg-yearbook .m-list li .show span {
          display: block;
          position: absolute;
          left: 152px;
          top: 23px;
          width: 10px;
          height: 10px;
          background: #b7b2a8; }
      .m-pg-yearbook .m-list li .detail {
        display: none; }
        .m-pg-yearbook .m-list li .detail li {
          position: relative; }
          .m-pg-yearbook .m-list li .detail li:after, .m-pg-yearbook .m-list li .detail li:before {
            display: table;
            content: ""; }
          .m-pg-yearbook .m-list li .detail li:after {
            clear: both; }
        .m-pg-yearbook .m-list li .detail p.year {
          float: left;
          text-align: right;
          padding-right: 20px;
          height: 100%;
          width: 136px;
          font-size: 16px;
          font-style: italic;
          color: #210700; }
        .m-pg-yearbook .m-list li .detail span {
          display: block;
          position: absolute;
          top: 2px;
          left: 153px;
          width: 8px;
          height: 7px;
          background: #b7b2a8; }
        .m-pg-yearbook .m-list li .detail .wrap {
          border-left: 1px solid #fff;
          float: left;
          width: 700px; }
          .m-pg-yearbook .m-list li .detail .wrap div.wai {
            padding-bottom: 20px;
            border-left: 1px solid #b7b2a8; }
            .m-pg-yearbook .m-list li .detail .wrap div.wai div.nei {
              margin-left: 44px;
              padding: 20px 15px;
              background: #f9f9f9;
              width: 435px; }
              .m-pg-yearbook .m-list li .detail .wrap div.wai div.nei img {
                width: 432px;
                height: auto;
                cursor: default; }
            .m-pg-yearbook .m-list li .detail .wrap div.wai p {
              cursor: text;
              margin-top: 20px;
              font-size: 12px;
              color: #210700;
              font-family: "宋体";
              line-height: 1.5; }
      .m-pg-yearbook .m-list li .showdetail {
        display: block; }

@media screen and (max-width: 992px) {
  .m-pg-yingdaemploy {
    padding-bottom: 80px; } }
.m-pg-yingdaemploy .thead {
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c6b9ac;
  display: block;
  cursor: default;
  font-size: 0;
  letter-spacing: -0.307em;
  *letter-spacing: normal;
  *word-spacing: -1px; }
  .m-pg-yingdaemploy .thead span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    *word-spacing: normal;
    width: 24%;
    font-size: 18px;
    font-family: "宋体";
    color: #6b513c;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .m-pg-yingdaemploy .thead span {
        font-size: 16px; } }
.m-pg-yingdaemploy .main {
  border-bottom: 1px solid #c6b9ac;
  cursor: pointer;
  background: url("../images/newslist-pic3.png") 2px 26px no-repeat; }
  @media screen and (max-width: 992px) {
    .m-pg-yingdaemploy .main {
      background-position: -1px center; } }
  .m-pg-yingdaemploy .main > p {
    display: block;
    height: 56px;
    line-height: 56px;
    font-size: 0;
    letter-spacing: -0.307em;
    *letter-spacing: normal;
    *word-spacing: -1px;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
    .m-pg-yingdaemploy .main > p span {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      letter-spacing: normal;
      *word-spacing: normal;
      width: 24%;
      text-align: center;
      font-family: "宋体";
      font-size: 14px;
      color: #83654c; }
  .m-pg-yingdaemploy .main .con {
    display: none; }
    .m-pg-yingdaemploy .main .con h4 {
      margin-top: 22px;
      padding-left: 40px;
      font-size: 14px;
      font-family: "宋体";
      color: #83654c;
      font-weight: normal; }
    .m-pg-yingdaemploy .main .con p {
      margin-top: 12px;
      padding-left: 70px;
      padding-bottom: 20px;
      line-height: 1.8;
      font-size: 14px;
      font-family: "宋体";
      color: #83654c; }
    @media screen and (max-width: 992px) {
      .m-pg-yingdaemploy .main .con h4, .m-pg-yingdaemploy .main .con p {
        padding-left: 1em; } }
.m-pg-yingdaemploy .line {
  background: #dbd2c8 url("../images/yingdaemploy.png") 40px 24px no-repeat; }
  @media screen and (max-width: 992px) {
    .m-pg-yingdaemploy .line {
      background-position: -1px 1.8em; } }
  .m-pg-yingdaemploy .line .con {
    display: block; }

.m-pg-yingdabuilding > #carousel-example-generic {
  margin-top: 20px; }
.m-pg-yingdabuilding > .list .piclist {
  margin-bottom: 0; }
  @media screen and (max-width: 992px) {
    .m-pg-yingdabuilding > .list .piclist {
      margin-bottom: -30px; } }
  .m-pg-yingdabuilding > .list .piclist .m-list3 {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0;
    letter-spacing: -0.307em;
    *letter-spacing: normal;
    *word-spacing: -1px; }
    @media screen and (max-width: 992px) {
      .m-pg-yingdabuilding > .list .piclist .m-list3 {
        margin-top: 0; } }
    .m-pg-yingdabuilding > .list .piclist .m-list3 a {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      padding-right: 0; }
      .m-pg-yingdabuilding > .list .piclist .m-list3 a:hover {
        color: #333; }
      .m-pg-yingdabuilding > .list .piclist .m-list3 a img {
        max-width: 400px;
        max-height: 200px;
        width: 100%;
        height: auto;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline; }
@media screen and (min-width: 769px) {
  .m-pg-yingdabuilding > .list .lastitem {
    padding-top: 0; } }
@media screen and (max-width: 768px) {
  .m-pg-yingdabuilding > .list .lastitem {
    padding-top: 46px; } }
@media screen and (max-width: 768px) {
  .m-pg-yingdabuilding > .list .m-partyStyle .m-list3 a {
    width: 100%;
    height: 100%; }
  .m-pg-yingdabuilding > .list .m-partyStyle .m-list3 img {
    max-width: 100% !important;
    width: 100%;
    max-height: 100% !important; } }
.m-pg-yingdabuilding > .list .m-partyStyle > div {
  padding-top: 0; }
.m-pg-yingdabuilding .u-toptitle {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d6cfc7;
  padding-bottom: 10px;
  font-size: 0;
  letter-spacing: -0.307em;
  *letter-spacing: normal;
  *word-spacing: -1px; }
  .m-pg-yingdabuilding .u-toptitle p {
    color: #210700;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    *word-spacing: normal;
    font-size: 18px; }
  .m-pg-yingdabuilding .u-toptitle a {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #83654c;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    *word-spacing: normal;
    font-size: 12px; }
.m-pg-yingdabuilding .u-toptitle-outer {
  clear: both;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
  width: auto; }

.m-pg-yingdabuilding .move {
  position: absolute;
  left: 0;
  height: 20%;
  width: 100%; }
  @media screen and (max-width: 992px) {
    .m-pg-yingdabuilding .move {
      position: static; } }
  .m-pg-yingdabuilding .move span {
    z-index: 20;
    background: none repeat scroll 0 0 #4a3b34;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.7; }
    @media screen and (max-width: 992px) {
      .m-pg-yingdabuilding .move span {
        display: none; } }
    @media screen and (min-width: 993px) {
      .m-pg-yingdabuilding .move span {
        margin-top: 4px; } }
  .m-pg-yingdabuilding .move p {
    z-index: 21;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 3;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 100%;
    width: 100%; }
    @media screen and (max-width: 992px) {
      .m-pg-yingdabuilding .move p {
        margin-top: -14px;
        position: static;
        line-height: 38px;
        font-size: 14px;
        color: #010101; } }
  @media screen and (min-width: 993px) {
    .m-pg-yingdabuilding .move {
      width: 98%;
      margin-left: 4px; } }
@media screen and (max-width: 992px) {
  .m-pg-yingdabuilding .carousel-indicators {
    display: none; } }

.m-pg-yingdabuilding .textlist {
  overflow: hidden;
  width: 100%; }
  .m-pg-yingdabuilding .textlist .line {
    border-bottom: 1px solid #d6cfc7; }
    .m-pg-yingdabuilding .textlist .line:before, .m-pg-yingdabuilding .textlist .line:after {
      content: " ";
      display: table; }
    .m-pg-yingdabuilding .textlist .line:after {
      clear: both; }
    .m-pg-yingdabuilding .textlist .line a {
      float: left;
      display: inline;
      margin-top: 0;
      line-height: 1.5;
      color: #210700;
      font-size: 14px; }
      @media screen and (min-width: 993px) {
        .m-pg-yingdabuilding .textlist .line a {
          line-height: 32px; } }
    .m-pg-yingdabuilding .textlist .line span {
      float: right;
      color: #83654c;
      display: inline;
      font-size: 12px; }
      @media screen and (max-width: 992px) {
        .m-pg-yingdabuilding .textlist .line span {
          margin-top: 9px; } }
      @media screen and (min-width: 993px) {
        .m-pg-yingdabuilding .textlist .line span {
          line-height: 32px; } }
  @media screen and (max-width: 992px) {
    .m-pg-yingdabuilding .textlist {
      margin-top: 9px; } }
  @media screen and (min-width: 993px) {
    .m-pg-yingdabuilding .textlist {
      margin-top: 25px; } }

/*# sourceMappingURL=firm-main.css.map */
