@charset "utf-8";

.g-brandest {
  width: 100%;
  height: 100%;
  background: url("../images/mobile-est-bg.jpg");
  background-size:100% 100%;
}

.g-branddm {
  width: 100%;
  height: 100%;
  background: url("../images/mobile-damei-bg.jpg");
  background-size:100% 100%;
}

.g-brandchapter {background-color: #000;}

.g-brandstyle {
  width: 100%;
  height: 100%;
  background: url("../images/mobile-style-bg.jpg") repeat-y;
  background-size:100%;
}
