@charset "utf-8";

/*主体区域*/

.m-main-qin{width:100%;}
.m-main-qin>.m-section-qin:first-child{width:100%; height:20.9rem; background:#A5A0A7;}
.m-main-qin>.m-section-qin:first-child>h2{width:100%; height:4.85rem; background:url(../images/detail_h2_bg.jpg) repeat-x; line-height:5rem; text-align:center; font-size:1.4rem;}
.m-main-qin>.m-section-qin:nth-last-child(2)>h2{width:100%; height:4.7rem; background:url(../images/detail_h2_bg.jpg) repeat-x; line-height:4.7rem; text-align:center; font-size:1.4rem;}

.m-main-qin>.m-section-qin:last-child{width:100%; background:#A5A0A7;}
.m-section-qin>.shop_list{width:100%; position:relative;}
.m-section-qin>.shop_list>img{display: block;}
.m-section-qin>.shop_list>.viewdetails_btn{width:9.05rem; height:2.5rem; background:#FFE3CD; position:absolute; left:50%; margin-left:-4.525rem; bottom:0; line-height:2.5rem; text-align:center; font-size:1.3rem; color:rgba(0,0,0,1); -webkit-user-select:none;}

.m-toggle{box-sizing:border-box; width:100%; height:29.6rem; background:rgba(254,254,254,1); position:relative; padding:4.7rem 0 0 12.8125%; display:none;}
.m-toggle .close_btn{width:1.5rem; height:1.4rem; background:url(../images/details-page-close-btn.png) no-repeat; background-size:100%;  position:absolute; right:2.8rem; top:1.4rem; -webkit-user-select:none;}
.m-toggle>h3{font-size:1.6rem; line-height:100%; margin-bottom:0.5rem; color:#663D1D;}
.m-toggle>p>span{display:block; margin-bottom:0.35rem; font-size:1rem; color:#663D1D;}
.m-toggle>p>span:last-child{margin-bottom:0;}
.m-toggle>h5{font-size:1rem; color:#663D1D; margin-top:1.55rem; margin-bottom:0.75rem;}
.m-toggle>h5>a{color:#663D1D;}
.m-toggle>h5>a>img{width:1.15rem; height:1rem; vertical-align:text-bottom;}

.u-viewmoreimages{width:100%; height:6.6rem; background:url(../images/detail_h2_bg.jpg) repeat-x; position:relative;}
.u-viewmoreimages>a {
  display: block;
  width: 12.7rem;
  height: 2.5rem;
  background: #FFE3CD;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6.35rem;
  margin-top: -1.25rem;
  text-align: center;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 1);
  font-size: 1.4rem;
}

/*主体区域*/

//slide
#animation{width:100%;position:relative; overflow:hidden;}
.m-swiper-container-detail {
  $mSwiperDetail: 16rem;
  @include min-width(320px){
    height: $mSwiperDetail;
  }
  @include min-width(360px){
    height: $mSwiperDetail * 1.125;
  }
  @include min-width(400px){
    height: $mSwiperDetail * 1.25;
  }
  @include min-width(480px){
    height: $mSwiperDetail * 1.5;
  }
  @include min-width(540px){
    height: $mSwiperDetail * 1.6875;
  }
  @include min-width(600px){
    height: $mSwiperDetail * 1.875;
  }
  @include min-width(640px){
    height: $mSwiperDetail * 2;
  }
  @include min-width(720px){
    height: $mSwiperDetail * 2.25;
  }
  .arrow-left {
    background-color: transparent;
    background-size: 60%;
  }
  .arrow-right {
    background-color: transparent;
    background-size: 60%;
  }
}