@charset "utf-8";

.g-main {background-color: #000;}

.m-swiper-container-index {
  margin-bottom: 1.5rem;
  height: 13rem;
  .arrow-left {
    background-color: transparent;
    background-size: 60%;
  }
  .arrow-right {
    background-color: transparent;
    background-size: 60%;
  }
}

