.privacy{background:#251f21;}
.m-privacy-cy{
  margin:6rem auto 0;
  width:80%;
  color:#ffe3cd;
  .title{font-size:2.6rem;margin-bottom:5rem;}
  .con p{margin-bottom:3rem;
    font-size:1.4rem;
     font-family:"宋体";
    line-height:1.8;
    }
}