@charset "utf-8";
$font-family: '宋体';
$color: #ffe3cd;

@mixin font($font-size: 1.6rem) {
  font-size: $font-size;
  color: $color;
  font-family: $font-family;
  font-weight: normal;
}

.g-mobRegister {
  //jxj add g-mobRegister and background
  background:url(../images/mobile-regsiter-bg.jpg) repeat-y;
  background-size:100%;
  //jxj add padding top bottom
  padding: 5rem 0;
}

.m-mobRegister {
  //jxj delete margin top bottom
  margin: 0 auto;
  width: 80%;
  .title {
    padding-bottom: 3.4rem;
    width: 100%;
    @include font(2.4rem);
    text-align: center;
    border-bottom: 1px solid $color;
  }
  .subtitle {
    padding-top: 0.5rem;
    width: 100%;
    @include font();
  }
  .form {
    padding-top: 4rem;
    .form-list {
      margin-bottom: 2.4rem;
      label {
        position: relative;
        padding-bottom: 0.5rem;
        cursor: pointer;
        display: inline-block;
        @include font();
      }
      span.star {
        position: absolute;
        display: inline-block;
        top: -6px;
        right: -9px;
      }
      input, .sex {
        padding-left: 10px;
        display: block;
        width: 100%;
        height: 36px;
        background: none;
        border: 1px solid $color;
        font-size: 1.6rem;
        color: $color;
        outline: none;
      }
    }
    .warning {
      input, .sex {
        border: 1px solid #ff0000;
      }
      p {
        margin-top: 4px;
        display: block;
        margin-bottom: -10px;
        text-align: right;
        font-family: $font-family;
        font-size: 12px;
        color: #e60012;
      }
    }
    .form-select {
      padding-top: 1.2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $color;
      label {
        @include font();
        position: relative;
        padding-left: 2rem;
        .agree {
          position: absolute;
          top: 2px;
          left: 0;
          border-radius: 0;
          margin-right: 6px;
          border: 1px solid $color;
        }
      }
    }
    .btn { text-align:center;
      .sub {
        margin: 5rem auto 1rem;
        padding: 1rem 4.5rem;
        border: none;
        background: #44332c;
        @include font();
        outline: none;
        &:hover {
          color: #714e38;
        }
      }
    }
  }
}