@charset "utf-8";

.g-sfashion-c {
  padding: 0 1.5rem;
  color: $seasonFashion;
  background: url("../images/mobile-seasonfashion-bg.jpg") no-repeat center top;
  background-size: cover;
}
.m-swiper-container-1 {
  border: 1px solid #fff;
  height: 14.5rem;
}
.m-swiper-container-2 {
  border: 1px solid #fff;
  height: 42.7rem;
}