@charset "utf-8";

.g-sfashion-c {
  padding: 0 1.5rem;
  color: $seasonFashion;
  background: url("../images/mobile-seasonfashion-bg.jpg") no-repeat center top;
  background-size: cover;
}
.m-swiper-container-1 {
  border: 1px solid #fff;
  $mSwiper1: 14.5rem;
  @include min-width(320px){
    height: $mSwiper1;
  }
  @include min-width(360px){
    height: $mSwiper1 * 1.125;
  }
  @include min-width(400px){
    height: $mSwiper1 * 1.25;
  }
  @include min-width(480px){
    height: $mSwiper1 * 1.5;
  }
  @include min-width(540px){
    height: $mSwiper1 * 1.6875;
  }
  @include min-width(640px){
    height: $mSwiper1 * 2;
  }
  @include min-width(720px){
    height: $mSwiper1 * 2.25;
  }
}
.m-swiper-container-2 {
  border: 1px solid #fff;
  $mSwiper2: 42.7rem;
  @include min-width(320px){
    height: $mSwiper2;
  }
  @include min-width(360px){
    height: $mSwiper2 * 1.125;
  }
  @include min-width(400px){
    height: $mSwiper2 * 1.25;
  }
  @include min-width(480px){
    height: $mSwiper2 * 1.5;
  }
  @include min-width(540px){
    height: $mSwiper2 * 1.6875;
  }
  @include min-width(640px){
    height: $mSwiper2 * 2;
  }
  @include min-width(720px){
    height: $mSwiper2 * 2.25;
  }
}