@charset "utf-8";

$fontColor:#fee3ce;

@font-face {
  font-family: 'didotbold';
  src: url('../fonts/Didot-Bold.eot');
  src: url('../fonts/Didot-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Didot-Bold.woff') format('woff'),
  url('../fonts/Didot Bold.ttf') format('truetype'),
  url('../fonts/Didot-Bold.svg#NeuesBauenDemo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.m-sfashion {
  width: 100%;
  color: $fontColor;
  .table {
    position: absolute;
    margin: 0;
    width: 100%;
    @media only screen and (max-width: 320px) {
      height: 162px;
    }
    @media only screen and (min-width: 360px) {
      height: 182px;
    }
    @media only screen and (min-width: 540px) {
      height: 273px;
    }
    display: table;
    .table-cell {
      display: table-cell;
      vertical-align: middle;
      font-family: '\5B8B\4F53';
      text-align: center;
      h3 {
        margin: 0;
        line-height: 2.1rem;
        font-size: 1.5rem;
        font-family: 'didotbold';
        font-weight: bold;
      }
      h4 {
        margin: 0;
        line-height: 2.5rem;
        font-size: 1.5rem;
      }
      a {
        color: $fontColor;
      }
      p {
        a {
          padding: 0.25rem 0.75rem;
          font-size: 1rem;
          border: 1px solid $fontColor;
          &.weibo {
            padding: 0;
            font-size: 1.5rem;
            border: none 0;
            color: $fontColor;
          }
          &.wechat {
            padding: 0;
            font-size: 1.5rem;
            border: none 0;
            margin-left: 0.5rem;
            color: $fontColor;
          }
        }
      }
    }
  }
}