@charset "utf-8";

.g-vip {
  padding: 3rem 0;
  background:url(../images/mobile-shoplist-bg.jpg) repeat-y;
  background-size:100%;
}

.m-vip {
  margin: 0 auto;
  width: 80%;
  line-height: 1.8;
  color: $shopListFont;
  h1 {
    @include font();
    font-size: 2.4rem;
    font-family: "didot";
  }
  h2 {
    @include font();
    font-size: 1.8rem;
  }
  h3 {
    @include font();
    font-size: 1.6rem;
  }
  p {
    @include font();
    font-size: 1.4rem;
  }
}



