@charset "utf-8";

.m-pg-right{
  overflow: hidden;
  margin-top: 0;
  .clum-title{
    width: 100%;
    line-height: 58px;
    height: 58px;
    border-bottom: 1px solid #b7b2a8;
    font-weight: normal;
    font-size: 26px;
    color: #210700;
  }
  .yh{
//    background: none repeat scroll 0 0 #fff;
    height: 1px;
    width: 100%;
  }
}